<div class="signature-pad-container">
    <h2 class="heading">Prescription Pad</h2>
    
    <div class="canvas-wrapper">
      <canvas #canvas></canvas>
    </div>

    <div>
      <label>Choose Pen Color:</label>
    <button (click)="changePenColor('black')" style="background-color: black; color: white;">Black</button>
    <button (click)="changePenColor('red')" style="background-color: red; color: white;">Red</button>
    <button (click)="changePenColor('green')" style="background-color: green; color: white;">Green</button>
    <button (click)="changePenColor('blue')" style="background-color: blue; color: white;">Blue</button>
    <!-- You can also use an input color picker -->

    </div>
<br>
    <div>
      <label>Pen Thickness:</label>
      <input type="range" min="1" max="10" [(ngModel)]="penWidth" (input)="changePenWidth(penWidth)" />
      <span>{{ penWidth }}</span>
    </div>

   
    
    <div class="button-container">
      <button (click)="clearPad()">Clear</button>
      <button (click)="printPad()">Print</button>
      <button (click)="toggleEraser()" [style.background-color]="isEraserActive ? 'grey' : 'lightgray'">
        {{ isEraserActive ? 'Switch to Pen' : 'Switch to Eraser' }}
      </button>
    </div>
  </div>
  