<configuration>
  <system.web>
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>

    <!-- Enable URL Rewrite Module -->
    <rewrite>
      <rules>
        <rule name="Angular Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>

    <!-- Enable HTTP Compression -->
    <httpCompression>
      <dynamicTypes>
        <add mimeType="text/html" enabled="true"/>
        <add mimeType="text/css" enabled="true"/>
        <add mimeType="application/javascript" enabled="true"/>
      </dynamicTypes>
    </httpCompression>

    <!-- Enable Static File Caching -->
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
    </staticContent>

  </system.webServer>
</configuration>
