<div class="page-wrapper">
    <div class="content">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="routes.departmentList">Questionnaire </a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Add Questionnaire</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->



        <div class="row">

            <div class="col-12 col-md-12  col-xl-5">
                <div class="card">
                    <div class="card-body">
                        <div class="form-heading">
                            <h4>Add Questionnaire</h4>
                        </div>

                        <form [formGroup]="questForm" (ngSubmit)="addQustionnaireName(questForm)">
                            <div class="row">
                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-forms">
                                        <label for="QuestionnairesName">Questionnaire Name <span
                                                class="login-danger">*</span></label>
                                        <input class="form-control" formControlName="questionnaireName" type="text">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-forms">
                                        <label for="departmet">Department Name <span
                                                class="login-danger">*</span></label>
                                        <mat-select formControlName="questinaryDeptId" class="form-control select">

                                            <mat-option *ngFor="let data of _depDto" [value]="data.departmentId">
                                                {{data.departmentName}}
                                            </mat-option>
                                        </mat-select>

                                    </div>
                                </div>
                            </div>
                            <!-- <div class="row">
                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-forms">
                                        <label for="departmet">Department Name <span
                                                class="login-danger">*</span></label>
                                        <mat-select formControlName="questinaryDeptId" class="form-control select">

                                            <mat-option *ngFor="let data of _depDto" [value]="data.departmentId">
                                                {{data.departmentName}}
                                            </mat-option>
                                        </mat-select>

                                    </div>
                                </div>
                            </div> -->
                            <div class="row">
                                <div class="col-12 col-md-6 col-xl-10">
                                    <div class="doctor-submit text-end">
                                        <button type="submit" class="btn btn-primary submit-form me-2">Create
                                            Questionnaire</button>
                                        <button type="button" class="btn btn-primary cancel-form">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>



            <div class="col-12 col-md-12  col-xl-7" *ngIf="combineData.length>0">

                <div class="card">
                    <div class="card-body">
                        <div class="page-table-header mb-2">
                            <div class="row">
                                <div class="col">
                                    <div class="status-table-blk">
                                        <h3>Filter by status: </h3>
                                        <div class="col-12 col-md-4">
                                            <div>
                                                <mat-select class="form-control select"
                                                    (selectionChange)="onStatusChange($event)">
                                                    <mat-option *ngFor="let qStatus of questionnaireStatuses"
                                                        [value]="qStatus">
                                                        {{qStatus}}
                                                    </mat-option>
                                                </mat-select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class=" table border-0 custom-table comman-table datatable mb-0">
                                <thead>
                                    <tr>
                                        <!-- <th mat-sort-header="checkbox">
                                            <div class="form-check check-tables">
                                                <input class="form-check-input" type="checkbox" value="something">
                                            </div>
                                        </th> -->
                                        <th>Questionare Name</th>
                                        <th>Department Name</th>
                                        <th>Status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of combineData">
                                        <!-- <td>
                                            <div class="form-check check-tables">
                                                <input class="form-check-input" type="checkbox" value="something">
                                            </div>
                                        </td> -->
                                        <!-- <td class="profile-image"><a [routerLink]="routes.profile"><img width="28"
                                                                    height="28" [src]="img" class="rounded-circle m-r-5" alt="">
                                                                {{data.questionnaireName}}</a></td>
                                                        <td>{{data.deptName}}</td> -->
                                        <td class="profile-image"><a href="javascript:void(0);"
                                                (click)="showaddQuestion(data.questionnaireId)"><img width="28"
                                                    height="28" [src]="img" class="rounded-circle m-r-5" alt="">
                                                {{data.questionnaireName}}</a></td>
                                        <td>{{data.deptName}}</td>
                                        <td>{{data.isActive ? "Active" : "Inactive"}}</td>

                                        <td class="text-end">
                                            <div class="dropdown dropdown-action">
                                                <a href="javascript:void(0);" class="action-icon dropdown-toggle"
                                                    data-bs-toggle="dropdown" aria-expanded="false"><i
                                                        class="fa fa-ellipsis-v"></i></a>
                                                <div class="dropdown-menu dropdown-menu-end">
                                                    <a class="dropdown-item"
                                                        (click)="onEditQuestionaire(data)">
                                                        <i class="fa-solid fa-pen-to-square m-r-5"></i> Toggle Status</a>
                                                    <a class="dropdown-item" href="javascript:void(0);" (click)="openModal(data.questionnaireId)"
                                                        data-bs-toggle="modal" data-bs-target="#delete_ques"><i
                                                            class="fa fa-trash-alt m-r-5"></i>
                                                        Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                    </div>
                </div>
            </div>
        </div>

    </div>







    <div class="row" *ngIf="showAddQuestion">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-12 col-md-12  col-xl-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-heading">
                                <h4>Add Question</h4>
                            </div>

                            <form [formGroup]="questionForm" (ngSubmit)="addQustion(questionForm)">

                                <div class="col-12 col-md-6 col-xl-8">
                                    <div class="form-group local-forms">
                                        <label for="questionText">Qustion<span class="login-danger">*</span></label>
                                        <input class="form-control" formControlName="questionText" type="text">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-8">
                                    <div class="form-group local-forms">
                                        <label for="QuestionType">Question Type <span
                                                class="login-danger">*</span></label>
                                        <mat-select formControlName="questionType" class="form-control select"
                                            (selectionChange)="showOption($event.value)">

                                            <mat-option *ngFor="let data of questionType" [value]="data.value">
                                                {{data.key}}
                                            </mat-option>
                                        </mat-select>

                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-xl-6" formArrayName="optionControls"
                                    *ngIf="objectiveType">

                                    <div class="row" *ngFor="let control of optionControls.controls; let i = index"
                                        formGroupName="{{i}}">
                                        <div class="col-12 col-md-6 col-xl-8">
                                            <div class="form-group local-forms">
                                                <label for="optionControls{{ i }}">Option {{i+1}}<span
                                                        class="login-danger">*</span></label>
                                                <input class="form-control" id="optionControls{{ i }}"
                                                    formControlName="option" type="text">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-xl-6">
                                            <div class="form-group local-forms">
                                                <label for="mapQuestionId{{ i }}">Map Question Id<span
                                                        class="login-danger">*</span></label>
                                                <input class="form-control" id="mapQuestionId{{ i }}"
                                                    formControlName="mapQuestionId" type="text">

                                            </div>

                                        </div>
                                        <div class="col-12 col-md-6 col-xl-4">
                                            <button type="button" class="btn btn-primary submit-form me-2"
                                                (click)="removeDynamicControl(i)">Remove
                                            </button>
                                        </div>



                                    </div>
                                    <ng-container *ngIf="editQuestion">
                                        <button type="button" class="btn btn-primary submit-form me-2"
                                            (click)="addDynamicControl()">Add Option</button>
                                    </ng-container>
                                </div>
                                <div class="col-12 col-md-6 col-xl-10">
                                    <div class="doctor-submit text-end">
                                        <ng-container *ngIf="!editQuestion">
                                            <button type="submit" class="btn btn-primary submit-form me-2">Add
                                            </button>
                                        </ng-container>

                                        <ng-container *ngIf="editQuestion">
                                            <button type="button" (click)="updateQuestionOptions()"
                                                class="btn btn-primary submit-form me-2">update
                                            </button>
                                        </ng-container>

                                        <button type="button" class="btn btn-primary cancel-form">Cancel</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>


                </div>
                <div class="col-12 col-md-12  col-xl-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class=" table border-0 custom-table comman-table datatable mb-0">
                                    <thead>
                                        <tr>
                                            <th mat-sort-header="checkbox">
                                                <div class="form-check check-tables">
                                                    <input class="form-check-input" type="checkbox" value="something">
                                                </div>
                                            </th>
                                            <th>Question Name</th>
                                            <th>Question ID</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let data of questiontoDisplay">
                                            <td>
                                                <div class="form-check check-tables">
                                                    <input class="form-check-input" type="checkbox" value="something">
                                                </div>
                                            </td>
                                            <!-- <td class="profile-image"><a [routerLink]="routes.profile"><img width="28"
                                                                                            height="28" [src]="img" class="rounded-circle m-r-5" alt="">
                                                                                        {{data.questionnaireName}}</a></td>
                                                                                <td>{{data.deptName}}</td> -->
                                            <td class="profile-image"><a href="javascript:void(0);"
                                                    (click)="showaddQuestion(data.questionnaireId)"><img width="28"
                                                        height="28" [src]="img" class="rounded-circle m-r-5" alt="">
                                                    {{data.questionText}}</a></td>
                                            <td>{{data.questionId}}</td>


                                            <td class="text-end">
                                                <div class="dropdown dropdown-action">
                                                    <a href="javascript:void(0);" class="action-icon dropdown-toggle"
                                                        data-bs-toggle="dropdown" aria-expanded="false"><i
                                                            class="fa fa-ellipsis-v"></i></a>
                                                    <div class="dropdown-menu dropdown-menu-end">
                                                        <a class="dropdown-item" href="javascript:void(0);"
                                                            (click)="EditQuestionAddOptionWithMapping(data.questionId)">
                                                            <i class="fa-solid fa-pen-to-square m-r-5"></i>
                                                            Edit</a>
                                                        <a class="dropdown-item" href="javascript:void(0);"
                                                            data-bs-toggle="modal" data-bs-target="#delete_patient"><i
                                                                class="fa fa-trash-alt m-r-5"></i>
                                                            Delete</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>




    <div class="row" *ngIf="combindQuestionOption.length>0">

        <div class="col-sm-12">

            <div class="card">
                <div class="card-body">
                    <div class="col-12">
                        <div class="form-heading">
                            <h4>Questions</h4>
                        </div>
                    </div>
                    <div class="col-12 col-md-12  col-xl-8">
                        <form (ngSubmit)="saveAnswer(answer) " #answer="ngForm">
                            <div class="row">
                                <div class="col-12 col-md-6 col-xl-12">
                                    <div *ngIf="currentQuestionData.questionType===2">
                                        <label for="questionText">
                                            <h4>{{currentQuestionData.questionText}}</h4>
                                        </label>
                                        <input type="text" class="form-control"
                                            name="{{currentQuestionData.questionId}}" ngModel>
                                    </div>
                                    <div *ngIf="currentQuestionData.questionType===1">
                                        <label for="questionText">
                                            <h4>{{currentQuestionData.questionText}}</h4>
                                        </label>
                                        <br>
                                        <ng-container *ngFor="let data of currentQuestionData.options">
                                            <span> &nbsp;&nbsp;<h4>{{data.optionText}}</h4>&nbsp;&nbsp;</span>
                                            <input type="radio" [value]="data.optionId" class="form-check-input"
                                                name="{{currentQuestionData.questionId}}" ngModel>
                                        </ng-container>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-xl-8">


                                    <ng-container *ngIf="!finishQuestionniary">
                                        <button type="submit" class="btn btn-lg btn-primary submit-form me-2">next
                                        </button>
                                    </ng-container>
                                    <ng-container *ngIf="finishQuestionniary">
                                        <button type="button" (click)="checkquestionFlow()"
                                            class="btn btn-primary submit-form me-2">Question flow Tested
                                        </button>
                                        <!-- <button type="button" (click)="submitAnswers()"
                                                class="btn btn-primary submit-form me-2">Submit Answer
                                            </button> -->
                                    </ng-container>


                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="row">
            <div class="col-sm-12">

                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class=" table border-0 custom-table comman-table datatable mb-0">
                                <thead>
                                    <tr>
                                        <th mat-sort-header="checkbox">
                                            <div class="form-check check-tables">
                                                <input class="form-check-input" type="checkbox" value="something">
                                            </div>
                                        </th>
                                        <th>Question Name</th>
                                        <th>Question ID</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of questiontoDisplay">
                                        <td>
                                            <div class="form-check check-tables">
                                                <input class="form-check-input" type="checkbox" value="something">
                                            </div>
                                        </td>
                                         
                                        <td class="profile-image"><a href="javascript:void(0);"
                                                (click)="showaddQuestion(data.questionnaireId)"><img width="28"
                                                    height="28" [src]="img" class="rounded-circle m-r-5" alt="">
                                                {{data.questionText}}</a></td>
                                        <td>{{data.questionId}}</td>


                                        <td class="text-end">
                                            <div class="dropdown dropdown-action">
                                                <a href="javascript:void(0);" class="action-icon dropdown-toggle"
                                                    data-bs-toggle="dropdown" aria-expanded="false"><i
                                                        class="fa fa-ellipsis-v"></i></a>
                                                <div class="dropdown-menu dropdown-menu-end">
                                                    <a class="dropdown-item" href="javascript:void(0);"
                                                        (click)="EditQuestionAddOptionWithMapping(data.questionId)">
                                                        <i class="fa-solid fa-pen-to-square m-r-5"></i> Edit</a>
                                                    <a class="dropdown-item" href="javascript:void(0);"
                                                        data-bs-toggle="modal" data-bs-target="#delete_patient"><i
                                                            class="fa fa-trash-alt m-r-5"></i>
                                                        Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div> -->



    </div>
</div>
<div id="delete_ques" class="modal fade delete-modal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <img src="assets/img/sent.png" alt="" width="50" height="46">
                <h3>Are you sure want to delete this ?</h3>
                <div class="m-t-20"> <a href="javascript:void(0);" class="btn btn-white me-1" data-bs-dismiss="modal">Close</a>
                    <button type="submit" class="btn btn-danger" data-bs-dismiss="modal" (click)="confirmDelete()">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>