<div class="page-wrapper">
    <div class="content">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="routes.departmentList">Questionnaire </a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Add Questionnaire</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->



        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="form-heading">
                            <h4>Add Questionnaire</h4>
                        </div>

                        <form [formGroup]="questForm" (ngSubmit)="addQustionnaireName(questForm)">
                            <div class="row">
                                <div class="col-12 col-md-4 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label for="QuestionnairesName">Questionnaire Name <span class="login-danger">*</span></label>
                                        <input class="form-control" formControlName="questionnaireName" type="text">
                                        <div *ngIf="questForm.get('questionnaireName')?.invalid && (questForm.get('questionnaireName')?.dirty || questForm.get('questionnaireName')?.touched)"
                                            class="text-danger">
                                            <div *ngIf="questForm.get('questionnaireName')?.errors?.['required']">Name is required.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label for="departmet">Department Name <span class="login-danger">*</span></label>
                                        <mat-select formControlName="questinaryDeptId" class="form-control select">
                                            <mat-option *ngFor="let data of _depDto" [value]="data.departmentId">
                                                {{data.departmentName}}
                                            </mat-option>
                                        </mat-select>
                                        <div *ngIf="questForm.get('questinaryDeptId')?.invalid && (questForm.get('questinaryDeptId')?.dirty || questForm.get('questinaryDeptId')?.touched)"
                                            class="text-danger">
                                            <div *ngIf="questForm.get('questinaryDeptId')?.errors?.['required']">Select a Department.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4 col-xl-4">
                                    <button type="submit" class="btn btn-primary submit-form me-2">Create Questionnaire</button>
                                    <!-- <button type="button" class="btn btn-primary cancel-form" (click)="onClear()">Clear</button> -->
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row d-flex">
            <div class="col-12 col-md-12 col-xl-6 d-flex flex-column">
                <div class="card flex-grow-1">
                    <div class="card-body d-flex flex-column">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-4 form-heading">
                                <h4>Questionnaire List</h4>
                            </div>
                            <div class="col-4 text-right">
                                <div class="form-group local-forms">
                                    <label for="Status">Status</label>
                                    <mat-select class="form-control select text-left" (selectionChange)="onStatusChange($event)">
                                        <mat-option *ngFor="let qStatus of questionnaireStatuses" [value]="qStatus">
                                            {{qStatus}}
                                        </mat-option>
                                    </mat-select>
                                </div>
                            </div>
                        </div>
                        
                        <div class="table-responsive flex-grow-1" style="overflow-x:clip;">
                            <table class="table border-0 custom-table comman-table datatable mb-0">
                                <thead>
                                    <tr>
                                        <th>Questionnaire Name</th>
                                        <th>Department Name</th>
                                        <th>Status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngFor="let data of combineData; let i = index">
                                        <tr [class.selectedQuest]="i === selectedRow" (click)="selectRow(i)">
                                            <td class="profile-image">
                                                <a href="javascript:void(0);" (click)="OnQuestionnaireChange(data)">
                                                    <img width="28" height="28" [src]="img" class="rounded-circle m-r-5" alt="">
                                                    {{data.questionnaireName}}
                                                </a>
                                            </td>
                                            <td>{{data.deptName}}</td>
                                            <td>{{data.isActive ? "Active" : "Inactive"}}</td>
                                            <td class="text-end">
                                                <div class="dropdown dropdown-action">
                                                    <a href="javascript:void(0);" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                                        <i class="fa fa-ellipsis-v"></i>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-end">
                                                        <a class="dropdown-item" (click)="onEditQuestionaire(data)">
                                                            <i class="fa-solid fa-pen-to-square m-r-5"></i> Toggle Status
                                                        </a>
                                                        <a class="dropdown-item" href="javascript:void(0);" (click)="deleteQues(data.questionnaireId)">
                                                            <i class="fa fa-trash-alt m-r-5"></i> Delete
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </ng-container>
                                </tbody>
                            </table>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-xl-6 d-flex flex-column">
                <div class="card flex-grow-1">
                    <div class="card-body d-flex flex-column">
                        <div class="col-12 form-heading">
                            <h4>List of Questions for the Selected Questionnaire: {{selectedQuestionnaire}}</h4>
                        </div>
                        <div class="table-responsive flex-grow-1">
                            <table class="table border-0 custom-table comman-table datatable mb-0">
                                <thead>
                                    <tr>
                                        <th mat-sort-header="checkbox">
                                            <div class="form-check check-tables">
                                                <input class="form-check-input" type="checkbox" value="something">
                                            </div>
                                        </th>
                                        <th>Question Name</th>
                                        <th>Question ID</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngIf="questiontoDisplay.length === 0">
                                        <td colspan="4" class="text-center">No Data Found</td>
                                    </tr>
                                    <tr *ngIf="questiontoDisplay.length === 0">
                                        <td colspan="4" class="text-center">
                                            <a href="javascript:void(0);" (click)="showAddQuestionSection()">Add New Question</a>
                                        </td>
                                    </tr>
                                    <tr *ngFor="let data of questiontoDisplay">
                                        <td>
                                            <div class="form-check check-tables">
                                                <input class="form-check-input" type="checkbox" value="something">
                                            </div>
                                        </td>
                                        <td class="profile-image">
                                            <a href="javascript:void(0);" (click)="showaddQuestion(data.questionnaireId)">
                                                <img width="28" height="28" [src]="img" class="rounded-circle m-r-5" alt="">
                                                {{data.questionText}}
                                            </a>
                                        </td>
                                        <td>{{data.questionId}}</td>
                                        <td class="text-end">
                                            <div class="dropdown dropdown-action">
                                                <a href="javascript:void(0);" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="fa fa-ellipsis-v"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-end">
                                                    <a class="dropdown-item" href="javascript:void(0);" (click)="EditQuestionAddOptionWithMapping(data.questionId)">
                                                        <i class="fa-solid fa-pen-to-square m-r-5"></i> Edit
                                                    </a>
                                                    <a class="dropdown-item" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#delete_patient">
                                                        <i class="fa fa-trash-alt m-r-5"></i> Delete
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>        

        <div class="row" *ngIf="showAddQuestion">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-12 col-md-12  col-xl-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-heading">
                                    <h4>Add Question</h4>
                                </div>

                                <form [formGroup]="questionForm" (ngSubmit)="addQustion(questionForm)">

                                    <div class="col-12 col-md-6 col-xl-8">
                                        <div class="form-group local-forms">
                                            <label for="questionText">Question<span class="login-danger">*</span></label>
                                            <input class="form-control" formControlName="questionText" type="text">
                                            <div *ngIf="questionForm.get('questionText')?.invalid && (questionForm.get('questionText')?.dirty || questionForm.get('questionText')?.touched)"
                                                class="text-danger">
                                                <div *ngIf="questionForm.get('questionText')?.errors?.['required']">Question is required.</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-xl-8">
                                        <div class="form-group local-forms">
                                            <label for="QuestionType">Question Type <span
                                                    class="login-danger">*</span></label>
                                            <mat-select formControlName="questionType" class="form-control select"
                                                (selectionChange)="showOption($event.value)">

                                                <mat-option *ngFor="let data of questionType" [value]="data.value">
                                                    {{data.key}}
                                                </mat-option>
                                            </mat-select>
                                            <div *ngIf="questionForm.get('questionType')?.invalid && (questionForm.get('questionType')?.dirty || questionForm.get('questionType')?.touched)"
                                                class="text-danger">
                                                <div *ngIf="questionForm.get('questionType')?.errors?.['required']">Question Type is required.</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-6 col-xl-6" formArrayName="optionControls"
                                        *ngIf="objectiveType">

                                        <div class="row" *ngFor="let control of optionControls.controls; let i = index"
                                            formGroupName="{{i}}">
                                            <div class="col-12 col-md-6 col-xl-8">
                                                <div class="form-group local-forms">
                                                    <label for="optionControls{{ i }}">Option {{i+1}}<span
                                                            class="login-danger">*</span></label>
                                                    <input class="form-control" id="optionControls{{ i }}"
                                                        formControlName="option" type="text">
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6 col-xl-6">
                                                <div class="form-group local-forms">
                                                    <label for="mapQuestionId{{ i }}">Map Question Id<span
                                                            class="login-danger">*</span></label>
                                                    <input class="form-control" id="mapQuestionId{{ i }}"
                                                        formControlName="mapQuestionId" type="text">

                                                </div>

                                            </div>
                                            <div class="col-12 col-md-6 col-xl-4">
                                                <button type="button" class="btn btn-primary submit-form me-2"
                                                    (click)="removeDynamicControl(i)">Remove
                                                </button>
                                            </div>



                                        </div>
                                        <ng-container *ngIf="editQuestion">
                                            <button type="button" class="btn btn-primary submit-form me-2"
                                                (click)="addDynamicControl()">Add Option</button>
                                        </ng-container>
                                    </div>

                                    <div class="col-12 col-md-6 col-xl-10">
                                        <div class="doctor-submit text-end">
                                            <ng-container *ngIf="!editQuestion">
                                                <button type="submit" class="btn btn-primary submit-form me-2">Add
                                                </button>
                                            </ng-container>

                                            <ng-container *ngIf="editQuestion">
                                                <button type="button" (click)="updateQuestionOptions()"
                                                    class="btn btn-primary submit-form me-2">update
                                                </button>
                                            </ng-container>

                                            <button type="button" class="btn btn-primary cancel-form" (click)="resetAddQuestion()">Cancel</button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>


                    </div>
                    <div class="col-12 col-md-12 col-xl-6" *ngIf="combindQuestionOption.length > 0">
                        <div class="card">
                          <div class="card-body">
                            <div class="row align-items-center justify-content-between">
                              <div class="col-4 form-heading">
                                <h4 *ngIf="combindQuestionOption.length > 1 && subQuestionCounter > 0">
                                    Question {{currentQuestionIndex}}.{{subQuestionCounter}} of {{questionLenth}}
                                </h4>
                                <h4 *ngIf="combindQuestionOption.length > 1 && subQuestionCounter <= 0">
                                  Question {{currentQuestionIndex}} of {{questionLenth}}
                                </h4>
                                <h4 *ngIf="combindQuestionOption.length <= 1">
                                  Question
                                </h4>
                              </div>
                              <div class="col-4 text-right" *ngIf="currentQuestionData?.options?.length > 0">
                                <div class="form-group local-forms">
                                  <label for="existingOptions">Options</label>
                                  <mat-select [(ngModel)]="selectedOption" class="form-control select text-left" (selectionChange)="onOptionChange($event.value)" name="exitsingOptions">
                                    <mat-option *ngFor="let data of currentQuestionData.options" [value]="data.optionId">
                                      {{data.optionText}}
                                    </mat-option>
                                  </mat-select>
                                </div>
                                <button type="button" class="btn btn-primary submit-form me-2" (click)="deleteOption()">Remove Option</button>
                              </div>
                            </div>
                      
                            <div class="col-12 col-md-12 col-xl-8">
                              <form (ngSubmit)="saveAnswer(answer)" #answer="ngForm">
                                <div class="row">
                                  <div class="col-12 col-md-6 col-xl-12">
                                    <div *ngIf="currentQuestionData?.questionType === 2">
                                      <label for="questionText">
                                        <h4>{{currentQuestionData?.questionText}}</h4>
                                      </label>
                                      <input type="text" class="form-control" name="{{currentQuestionData?.questionId}}" ngModel>
                                    </div>
                                    <div *ngIf="currentQuestionData?.questionType === 1">
                                      <label for="questionText">
                                        <h4>{{currentQuestionData?.questionText}}</h4>
                                      </label>
                                      <br>
                                      <ng-container *ngFor="let data of currentQuestionData?.options">
                                        <div class="form-check">
                                          <input 
                                            type="radio" 
                                            [value]="data.optionId" 
                                            class="form-check-input" 
                                            name="{{currentQuestionData?.questionId}}" 
                                            ngModel
                                          />
                                          <label class="form-check-label ms-2">
                                            {{data.optionText}}
                                          </label>
                                        </div>
                                      </ng-container>
                                    </div>
                                  </div>
                      

                                  <div class="col-12 col-md-6 col-xl-8">
                                    <ng-container *ngIf="!finishQuestionniary">
                                      <br>
                                      <button type="submit" class="btn btn-wide btn-lg btn-primary submit-form me-2">Next</button>
                                    </ng-container>
                                    <ng-container *ngIf="finishQuestionniary">
                                        <br>
                                        <button type="button" (click)="checkquestionFlow()" class="btn btn-primary submit-form me-2">Question Flow Tested</button>
                                    </ng-container>
                                  </div>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                </div>
            </div>
        </div>

        <div class="row" *ngIf="editQuestion && showQuestionList">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-12 form-heading">
                                <h4>Comprehensive List of available Questions for mapping</h4>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table border-0 custom-table comman-table datatable mb-0">
                                <thead>
                                    <tr>
                                        <!-- <th>Select</th> -->
                                        <th>Question ID</th>
                                        <th>Question Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let question of questionList">
                                        <!-- <td>
                                    <input
                                        type="radio"
                                        [value]="question.questionId"
                                        name="selectedQuestion"
                                        (change)="populateQuestionId(question.questionId)"
                                    />
                                </td> -->
                                        <td>{{ question.questionId }}</td>
                                        <td>{{ question.questionText }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <!-- <div class="row mt-3">
                    <div class="col-6">
                        <label for="questionIdInput">Selected Question ID:</label>
                        <input
                            type="text"
                            class="form-control"
                            id="questionIdInput"
                            [value]="selectedQuestionIdToMap"
                            readonly
                        />
                    </div>
                </div> -->
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
