<div class="page-wrapper">
    <div class="content">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="routes.adminDashboard">Dashboard </a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Admin Dashboard</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->

        <div class="good-morning-blk">
            <div class="row">
                <div class="col-md-6">
                    <div class="morning-user">
                        <h2>{{greetingMsg}}, <span>{{userName}}</span></h2>
                        <p>Have a nice day at work</p>
                    </div>
                </div>
                <div class="col-md-6 position-blk">
                    <div class="morning-img">
                        <img src="assets/img/morning-img-01.png" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-4">
                <div class="dash-widget">
                    <!-- <div class="dash-boxs comman-flex-center">
                        <img src="assets/img/icons/calendar.svg" alt="">
                    </div> -->
                    <div class="dash-content dash-count">
                        <h4>Total Appointments for Today</h4>
                        <h2><span class="counter-up" [countUp]="count" [options]="{duration: 10}">{{count}}</span>
                        </h2>

                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-4">
                <div class="dash-widget">
                    <!-- <div class="dash-boxs comman-flex-center">
                        <img src="assets/img/icons/profile-add.svg" alt="">
                    </div> -->
                    <div class="dash-content dash-count">
                        <h4>Total Patients visited Today</h4>
                        <h2>  <span class="counter-up" [countUp]="consultatCount" [options]="{duration: 10}">
                                                          {{consultatCount}}
                                                                  </span>
                                                                    </h2>
                        <!-- <p><span class="passive-view"><i class="feather icon-arrow-up-right me-1"></i>20%</span> vs last
                            month</p> -->
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="dash-widget">
                    <div class="dash-boxs comman-flex-center">
                        <img src="assets/img/icons/scissor.svg" alt="">
                    </div>
                    <div class="dash-content dash-count">
                        <h4>Operations</h4>
                        <h2><span class="counter-up" [countUp]="56" [options]="{duration: 10}">56</span></h2>
                        <p><span class="negative-view"><i class="feather icon-arrow-down-right me-1"></i>15%</span> vs
                            last month</p>
                    </div>
                </div>
            </div> -->
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-4">
                <div class="dash-widget">
                    <!-- <div class="dash-boxs comman-flex-center">
                        <img src="assets/img/icons/empty-wallet.svg" alt="">
                    </div> -->
                    <div class="dash-content dash-count">
                        <h4>Total Earnings for Today</h4>
                        <h2>₹<span class="counter-up" [countUp]="totalAmount" [options]="{duration: 10}">{{totalAmount}}</span>
                        </h2>

                    </div>
                </div>
            </div>

            <!-- <div class="col-md-3 col-sm-3 col-lg-3 col-xl-3">
                <div class="dash-widget">
                    <div class="dash-content dash-count">
                        <h4>total Amount</h4>
                        <h2>₹<span class="counter-up" [countUp]="totalAmount" [options]="{duration: 10}">{{totalAmount}}</span>
                        </h2>
                    </div>
                </div>
            </div> -->
        </div>
        <div class="row">
            <div class="col-12 col-md-12 col-lg-6 col-xl-8">
                <div class="card">
                    <div class="card-body">
                        <div class="chart-title patient-visit">
                            <h4>Patient Visit by Gender</h4>
                            <div>
                                <ul class="nav chat-user-total">
                                    <li>
                                        <i class="fa fa-circle current-users" aria-hidden="true"></i>
                                        Male {{ patientCountByGender[0]?.count }}%
                                    </li>
                                    <li>
                                        <i class="fa fa-circle old-users" aria-hidden="true"></i>
                                        Female {{ patientCountByGender[1]?.count }}%
                                    </li>
                                    <li>
                                        <i class="fa fa-circle current-users" aria-hidden="true"></i>
                                        Transgender {{ patientCountByGender[2]?.count }}%
                                    </li>
                                </ul>
                            </div>
                            <div class="form-group mb-0">
                                <mat-select [(ngModel)]="selectedValue" class="form-control select" placeholder="{{currentYear}}" >
                                    <mat-option *ngFor="let year of recentYears" [value]="year">
                                        {{ year }}
                                      </mat-option>
                                </mat-select>
                              </div>                              
                            </div>
                        <div id="patient-chart">
                            <apx-chart [series]="chartOptionsOne.series" [chart]="chartOptionsOne.chart"
                                [dataLabels]="chartOptionsOne.dataLabels" [plotOptions]="chartOptionsOne.plotOptions"
                                [responsive]="chartOptionsOne.responsive" [xaxis]="chartOptionsOne.xaxis"
                                [legend]="chartOptionsOne.legend" [fill]="chartOptionsOne.fill"
                                [grid]="chartOptionsOne.grid" [xaxis]="chartOptionsOne.xaxis"></apx-chart>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-6 col-xl-4 d-flex">
                <div class="card">
                    <div class="card-body">
                        <div class="chart-title">
                            <h4>Patient by Department</h4>
                        </div>
                        <div id="donut-chart-dash" class="chart-user-icon">
                            <apx-chart class="donut-chart-custom" [series]="chartOptionsTwo.series"
                                [chart]="chartOptionsTwo.chart" [labels]="chartOptionsTwo.labels"
                                [responsive]="chartOptionsTwo.responsive" [dataLabels]="chartOptionsTwo.dataLabels"
                                [legend]="chartOptionsTwo.legend"></apx-chart>
                            <img src="assets/img/icons/user-icon.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        


        <div class="row">
            <!-- Recent Patients Card (Left Half) -->
            <div class="col-12 col-xl-6 mb-4">
                <div class="card" style="border-radius: 15px; overflow: hidden;">
                    <div class="card-header pb-0">
                        <h4 class="card-title d-inline-block">Recent Patients</h4>
                        <a [routerLink]="routes.patientsList" class="float-end patient-views">Show all</a>
                    </div>
                    <div class="card-body p-0 table-dash">
                        <div class="table-responsive" style="overflow-x: hidden;">
                            <table matSort (matSortChange)="sortData($event)" class="table mb-0 border-0 datatable custom-table">
                                <thead>
                                    <tr>
                                        <th mat-sort-header="name">Name</th>
                                        <th mat-sort-header="mobile">Mobile</th>
                                        <th mat-sort-header="email">Email</th>
                                        <th mat-sort-header="gender">Gender</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of recentPatients">
                                        <td (click)="movetoPatient(data.patientId)" class="profile-image">
                                            <a href="javascript:;">
                                                {{ data.firstName }} {{ data.lastName }}
                                            </a>
                                        </td>
                                        <td><a href="javascript:;">{{ data.mobile }}</a></td>
                                        <td>{{ data.email }}</td>
                                        <td>{{ data.gender }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        
            <!-- Recent Appointments Card (Right Half) -->
            <!-- Recent Appointments Card (Right Half) -->
<div class="col-12 col-xl-6 mb-4">
    <div class="card" style="border-radius: 15px; overflow: hidden;">
        <div class="card-header pb-0">
            <h4 class="card-title d-inline-block">Recent Appointments</h4>
            <a [routerLink]="routes.appointmentList" class="patient-views float-end">Show all</a>
        </div>
        <div class="card-body p-0 table-dash">
            <!-- Enable horizontal scrollbar -->
            <div class="table-responsive" style="overflow-x: auto;">
                <table matSort (matSortChange)="sortData($event)" class="table mb-0 border-0 datatable custom-table">
                    <thead>
                        <tr>
                            <th mat-sort-header="name">Patient Name</th>
                            <th mat-sort-header="consultingDoctor">Consulting Doctor</th>
                            <th mat-sort-header="status">Status</th>
                            <th mat-sort-header="time">Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of upcomingAppointments">
                            <td (click)="movetoPatient(data.patientId)" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                {{ data.patientFname }} {{ data.patientLname }}
                            </td>
                            <td style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                {{ data.doctorFname }} {{ data.doctorLname }}
                            </td>
                            <td>
                                <button [ngClass]="{
                                    'status-green': data.appointmentStatus === 'Active',
                                    'status-pink': data.appointmentStatus === 'In Active',
                                    'status-gray': data.appointmentStatus === 'Cancel'
                                }" class="custom-badge">
                                    {{ data.appointmentStatus }}
                                </button>
                            </td>
                            <td style="white-space: nowrap;">{{ data.appointTime || 0 }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

        </div>
        
               
  

        <div class="row">
            <div class="col-12">
                <div class="card rounded-custom" style="border-radius: 15px; overflow: hidden;">
                    <!-- Updated card-header with consistent padding -->
                    <div class="card-header pb-0 pt-3 px-4 d-flex justify-content-between align-items-center">
                        <h4 class="card-title mb-0">Recent Invoices</h4>
                        <a [routerLink]="routes.invoices" style="color: #1a73e8; text-decoration: none;">Show All</a>
                    </div>
                    
                    <div class="card-body p-0 table-dash">
                        <div class="table-responsive" style="overflow-x: hidden;">
                            <table class="table mb-0 border-0 custom-table">
                                <thead>
                                    <tr>
                                        <th style="width: 25%;">Invoice ID</th>
                                        <th style="width: 30%;">Patient Name</th>
                                        <th style="width: 20%;">Amount</th>
                                        <th style="width: 25%;" class="text-center">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of invoices">
                                        <td>
                                            <a href="javascript:void(0);" (click)="movetoInvoiceView(data.invoiceId)">
                                                INV-{{ data.invoiceId }}
                                            </a>
                                        </td>
                                        <td>{{ data.patientName }}</td>
                                        <td>{{ data.amount | currency:'INR':'symbol' }}</td>
                                        <td class="text-center">
                                            <span
                                                [ngClass]="{
                                                    'status-green': data.status === 'Paid',
                                                    'status-pink': data.status === 'Unpaid',
                                                    'status-orange': data.status === 'Partially Paid'
                                                }"
                                                class="custom-badge">
                                                {{ data.status }}
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    
      
</div>
