<div class="page-wrapper">
    <div class="content">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="routes.abhaDashboard">Abha </a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Profile</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->

        <div class="row">
            <div class="col-sm-12">

                <div class="card">
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="form-group local-forms">
                                    <h4>Welcome [FirstName] [LastName]</h4>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12 col-md-6 col-xl-10 form-group local-forms">
                                    <p>Your Abha Number is: 12345.</p>
                                    <p>Your Abha Address is: abcd@sbx.</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12 col-md-6 col-xl-4 form-group local-forms">
                                    <button class="btn btn-primary submit-form me-2" type="button">Download ABHA
                                        CARD</button>
                                    <button class="btn btn-primary submit-form me-2" type="button">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>