<div class="page-wrapper">
    <div class="content">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="routes.abhaDashboard">Abha </a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item"><a [routerLink]="routes.abhaRegisterByAadhar">Register by Aadhar</a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Confirm OTP</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->

        <div class="row">
            <div class="col-sm-12">

                <div class="card">
                    <div class="card-body">
                        <form>                            
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-heading">
                                        <label for="OtpGenerationMsg">Confirm OTP message</label> <!-- {{OtpGenerationMsg}} -->
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label for="name">OTP <span class="login-danger">*</span></label>
                                        <input class="form-control" formControlName="otp" type="text"
                                            placeholder="">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <label for="name">Mobile Number <span class="login-danger">*</span></label>
                                    <input class="form-control" formControlName="mobileNumber" type="text"
                                            placeholder="">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>