<div class="page-wrapper">
    <div class="content">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="routes.invoices">Accounts </a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Edit Invoice</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->

        <div class="row">
            <div class="col-sm-12">

                <div class="card ">
                    <div class="card-body">
                        <div class="col">
                                <div class="doctor-table-blk">
                                  <h3>Search Item List</h3>
                                  <div class="doctor-search-blk">
                                    <div class="top-nav-search table-search-blk">
                                      <!-- <input type="text" class="form-control" placeholder="Search here" [(ngModel)]="searchDataValue"
                                        (ngModelChange)="searchItem(searchDataValue)"> -->
                                        <input type="text" #itmeid class="form-control" placeholder="Search here">
                                      <a class="btn"><img src="assets/img/icons/search-normal.svg" alt=""></a>
                                    </div>                          
                                  </div>
                                  <button class="btn btn-primary submit-form me-2" (click)="searchItem(itmeid.value)">Search</button>
                                </div>
                              </div>                       
                    </div>
                    </div>
                    <div class="table-responsive" *ngIf="invoiceItemDto">
                        <table class="table border-0 custom-table comman-table datatable mb-0">
                            <thead>
                                <tr>                                   
                                    <th >Item Id</th>
                                    <th >Name</th>
                                    <th >Description</th>
                                    <th >Disccount</th>
                                    <th >Fee</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="invoiceItemDto">
                                <td>{{invoiceItemDto.itemId}}</td>                                        
                              <td style="cursor: pointer;"><a (click)="addItemToInvoice(invoiceItemDto.itemId)">{{invoiceItemDto.itemName}}</a></td>
                              <td>{{invoiceItemDto.description}}</td>
                              <td>{{invoiceItemDto.discount}}</td>
                             <td>{{invoiceItemDto.fee}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                <div *ngIf="flag" class="card ">
                    <div class="card-body">                       
                        <form [formGroup]="addItemFormGroup" (submit)="submitItemToInvoice(addItemFormGroup)">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-heading">
                                        <h4>Add Invoice Items</h4>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-forms">
                                        <label for="Items ">Item Name <span class="login-danger">*</span></label>
                                        <input class="form-control" formControlName="itemName" type="text">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-forms">
                                        <label for="Description">Description <span class="login-danger">*</span></label>
                                        <input class="form-control" formControlName="description" type="text">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-forms">
                                        <label for="Fee">Fee <span class="login-danger">*</span></label>
                                        <input class="form-control" #fee formControlName="fee" type="text">
                                       
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-forms">
                                        <label for="Discount">Discount <span class="login-danger">*</span></label>
                                        <input class="form-control"  #total formControlName="discount" type="text">
                                       
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-forms">
                                        <label for="Total">Total <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text" formControlName="finalAmount">

                                    </div>
                                </div>
                                                               
                                
                                
                                <div class="col-12">
                                    <div class="doctor-submit text-end">
                                        <button type="submit" class="btn btn-primary submit-form me-2">Submit</button>
                                        <button type="button" class="btn btn-primary cancel-form">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>