<div class="page-wrapper">
    <div class="content">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="routes.invoices">Accounts </a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Edit Invoice</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->

        <div class="row">
            <div class="col-sm-12">

                <div class="card ">
                    <div class="card-body">
                        <form [formGroup]="invoiceItemForm">
                        <div class="form-group local-forms">
                            <label for="InvoiceItem">Invoice Item <span
                                    class="login-danger">*</span></label>
                            <mat-select formControlName="InvoiceItem"
                                (selectionChange)="addItemToInvoice($event)" class="form-control select">
                                <mat-option *ngFor="let data of allnvoiceItems" [value]="data.itemId">
                                    {{data.itemName}}
                                </mat-option>
                            </mat-select>


                        </div>
                    </form>
                    </div>
                    </div>

                <div class="card ">
                    <div class="card-body">

                       
                        <form [formGroup]="addItemFormGroup" (submit)="submitItemToInvoice(addItemFormGroup)">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-heading">
                                        <h4>Add Invoice Items</h4>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-forms">
                                        <label for="Items ">Item Name <span class="login-danger">*</span></label>
                                        <input class="form-control" formControlName="itemName" type="text">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-forms">
                                        <label for="Description">Description <span class="login-danger">*</span></label>
                                        <input class="form-control" formControlName="description" type="text">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-forms">
                                        <label for="Fee">Fee <span class="login-danger">*</span></label>
                                        <input class="form-control" #fee formControlName="fee" type="text">
                                       
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-forms">
                                        <label for="Discount">Discount <span class="login-danger">*</span></label>
                                        <input class="form-control" (change)="updateTotal(total.value,fee.value)" #total formControlName="discount" type="text">
                                       
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-forms">
                                        <label for="Total">Total <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text" formControlName="finalAmount">

                                    </div>
                                </div>
                                                               
                                
                                
                                <div class="col-12">
                                    <div class="doctor-submit text-end">
                                        <button type="submit" class="btn btn-primary submit-form me-2">Submit</button>
                                        <button type="button" class="btn btn-primary cancel-form">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>