<div class="page-wrapper">
    <div class="content">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="routes.abhaDashboard">Abha </a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->

        <div class="good-morning-blk">
            <div class="row">
                <div class="col-md-6">
                    <div class="morning-user">
                        <h2>{{greetingMsg}}, <span>{{userName}}</span></h2>
                        <p>Have a nice day at work</p>
                    </div>
                </div>
                <div class="col-md-6 position-blk">
                    <div class="morning-img">
                        <img src="assets/img/morning-img-01.png" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-4">
                <div class="dash-widget">
                    <div class="dash-content dash-content-align" [routerLink]="routes.abhaRegisterByAadhar" >
                        <h3>Create ABHA Number</h3>
                        <h4><span>using Aadhar</span></h4>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-6 col-sm-6 col-lg-6 col-xl-4">
                <div class="dash-widget">
                    <div class="dash-content dash-content-align">
                        <h3>Create ABHA Address</h3>
                        <h4><span>using ABHA Number</span></h4>
                    </div>
                </div>
            </div> -->

        </div>
    </div>
</div>