@media print {
    body {
        width: 80mm;
        height: 80mm;
        /* Adjust the width according to your thermal printer's specifications */
        margin: 0;
        padding: 0;
        /* Adjust font size as needed */
        line-height: 1.2;
    }

    .row,
    .col-sm-12,
    .col-md-6,
    .col-12 {
        width: 100%;
        display: block;
        float: none;
        font-size: 8px;
    }

    .card {
        border: none;
        margin: 0;
    }

    .wrapperClass {
        width: 100%;
        display: flex;
        flex-direction: column;

    }


    .invoice-head-clinic,
    .invoice-details,
    .invoice-payment,
    .invoice-info {
        margin-bottom: 2px;
        font-size: 5px;
        
    }

    h4,
    h5 {
        margin: 3px 0;
        font-size: 8px;
    }

    ul.list-unstyled {
        padding-left: 0;
        list-style: none;
    }

    .invoice-table {
        width: 100%;
        border-collapse: collapse;
        font-size: 8px;
        /* Reduced font size */
    }

    .table th,
    .table td {
        border: 1px linen #000;
        padding-left: 2px;
        /* Reduced padding */
        text-align: left;
        font-size: 8px;
    }

    .table thead th {
        background-color: #f0f0f0;
        font-size: 10px;
       
        
    }

    .table tbody tr:nth-child(odd) {
        background-color: #f9f9f9;
    }

    // .custom-badge {
    //     font-size: 3px;
    //     /* Reduced font size for badges */
       
    // }

    // .btn-primary.custom-badge {
    //     font-size: 3px;
    //     /* Reduced font size for buttons */
       
    // }

    .float-end {
        float: right;
        font-size: 10px;
    }

    .bold-total-invoice h5 {
        font-weight: bold;
        font-size: 8px;
    }

    .text-muted {
        font-size: 8px;
    }

    li{
        font-size: 8px;
    }
    .custom-invoice{
        display: flex;
        margin-bottom: 0px;
        justify-content: space-between;
        align-items: center;
    }
    .part-one,.part-two{
        width: 50%;
    }

}