<div class="page-wrapper">
    <div class="content">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="routes.invoices">Accounts </a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Invoice View</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="invoice-head-clinic">
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="invoice-counts">
                                        <h4>Invoice <span>#INV-{{invoiceDetails.invoiceId}}</span></h4>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="invoice-counts float-end">
                                        <h4>Status: <a href="javascript:;"
                                                class="status-green">{{invoiceDetails.status}}</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row custom-invoice">
                            <div class="col-12 col-md-6 m-b-20 part-one">
                                <img src="assets/img/logo.png" width="35" height="35" alt=""> <span>Florence
                                    Healthcare</span>
                                <ul class="list-unstyled invoice-clinic mt-2">
                                    <li>Kheri Road, Kheri</li>
                                    <li>Lakhimpur Kheri-262701</li>
                                    <li>Near By Don Bosco School</li>
                                </ul>
                            </div>
                            <div class="col-12 col-md-6 m-b-20 part-two">
                                <div class="invoice-details">
                                    <h3>Bill To:</h3>
                                    <ul class="list-unstyled invoice-clinic">
                                        <li>{{patientDetails.firstName}} {{patientDetails.lastName}}</li>
                                        <li>{{patientDetails.mobile}}</li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">  
                            
                            <div class="col-sm-6 col-lg-12 m-b-20">
                                <div class="invoice-details">
                                    <h4>Invoice Date : <i
                                            class="feather icon-calendar me-2"></i><span>{{invoiceDetails.createdDate |
                                            date:'dd-MMMM-yyyy'}}</span></h4>
                                </div>
                                <div [ngClass]="classes.singleLine">&nbsp;</div>
                                <div class="col-sm-6 col-lg-12 m-b-20">
                                    <button
        (click)="changeColor('Cash')" class="custom-badge"
        [style.backgroundColor]="buttonColors.Cash"
      >
        Cash
      </button>
      &nbsp;&nbsp;
      <button
        (click)="changeColor('Online')" class="custom-badge"
        [style.backgroundColor]="buttonColors.Online"
      >
        Online
      </button>
      <div [ngClass]="classes.singleLine">&nbsp;</div>
      <div *ngIf="isTextboxVisible">
        <div class="col-12 col-md-6 col-xl-4">
            <div class="form-group local-forms">
                Reference No. <input 
        id="RefNo" class="form-control"
        type="text"
        #RefNoInput
      />

            </div>
        </div>
      
      </div>
      
                                </div>
                            </div>
                        </div>
                        <div class="wrapperClass">
                            <div class="table-responsive">
                                <table class="table table-hover border-0 custom-table invoice-table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Item</th>
                                            <th>Description/Dr. Name</th>
                                            <th>Fee</th>
                                            <th>Discount (%)</th>
                                            <th>Total</th>
                                            <th>Status</th>
                                            <th>Action</th> 
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Consultation</td>
                                            <td>{{doctorDetails.firstName}} {{doctorDetails.lastName}}</td>
                                            <td>{{appointmentDetails.fee}}</td>
                                            <td>{{ flag ? 100 : 0 }}</td>
                                            <td>{{ appointmentDetails.fee - ((disc/100) * appointmentDetails.fee) }}
                                            </td>

                                            <td><button
                                                    [ngClass]="{'status-orange' : invoiceDetails.status === 'Partially Paid','status-green' : invoiceDetails.status === 'Paid', 'status-pink' : invoiceDetails.status === 'un Paid'}"
                                                    class="custom-badge">{{invoiceDetails.status}}</button></td>
                                            <td>
                                                <button type="button" (click)="paidinvoice(invoiceDetails)" [disabled]="invoiceDetails.status === 'Paid'"
                                                class="btn btn-primary custom-badge">{{invoiceDetails.status == 'Paid' ? 'Paid' : 'Pay'}}</button>
                                            </td>


                                        </tr>
                                        <ng-container *ngIf="addtionalInoiveItem.length>0">
                                            <tr *ngFor="let data of addtionalInoiveItem; let i=index">

                                                <td>{{i+2}}</td>
                                                <td>{{data.itemName}}</td>
                                                <td>{{data.description}}</td>
                                                <td>{{data.fee}}</td>
                                                <td>{{data.discount}} </td>
                                                <td>{{ data.fee - ((data.discount/100) * data.fee) }}</td>
                                                <!-- <td>{{data.finalAmount}}</td> -->
                                                <td><button
                                                        [ngClass]="{'status-green' : data.status === 'Paid', 'status-pink' : data.status === 'un Paid'}"
                                                        class="custom-badge">{{data.status}}</button></td>
                                                <td>
                                                    <button type="button" (click)="paidsubInvoiceItem(data)"
                                                        [disabled]="data.status === 'Paid'"
                                                        class="btn btn-primary custom-badge">{{data.status == 'Paid' ? 'Paid' : 'Pay'}}</button>
                                                </td>

                                            </tr> 
                                        </ng-container>
                                    </tbody>
                                </table>
                            </div>


                            <div class="row invoice-payment">
                                <div class="col-sm-7">
                                </div>
                                <div class="col-sm-5">
                                    <div class="m-b-20">
                                        <div class="table-responsive no-border">
                                            <table class="table mb-0 border-0 custom-table invoices-table total-fonts">
                                                <tbody>
                                                    <!-- <tr>
                                                        <td class="float-end">Subtotal : {{appointmentDetails.fee}}</td>
                                                    </tr> -->
                                                    <tr>
                                                        <td class="float-end">Balance : ₹{{balanceAmount}}</td>
                                                    </tr>
                                                    <!-- <tr>
                                                        <td class="float-end">GST (10%) : ₹160</td>
                                                    </tr> -->
                                                    <tr class="bold-total-invoice">
                                                        <td class="float-end">
                                                            <h5>Total :₹{{totalInvoiceAmount}}</h5>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="invoice-info">
                                <h5>Terms & Condition</h5>
                                <p class="text-muted">OPD Prescription valid for 7(seven) days including
                                    today.Audiometry services are subject to availability and warranty services are only
                                    being provided by selling company. Authorized Signatory</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="doctor-submit float-end">
                <!-- <a href="javascript:;" class="btn btn-primary submit-form me-2"
                    (click)="paidinvoice(invoiceDetails.invoiceId)">Paid</a> -->
                <a href="javascript:;" [ngClass]="{ 'disabled': !isAllowed }" class="btn btn-primary submit-form me-2" (click)="print()"><i
                        class="feather icon-printer me-2"></i>Print</a>
                <a href="javascript:;" class="btn btn-primary submit-form me-2"
                    (click)="moveToEditInvoice(invoiceDetails.invoiceId)">Add Item</a>
            </div>
        </div>
    </div>
</div>

<div *ngIf="thermalvisible" #printview [ngClass]="[classes.printAreaContainer, classes.fontMono]"
    [ngStyle]="{ width: width }">
    <div [ngClass]="classes.textCenter"><strong>Florence Healthcare RMEE2225901</strong></div>
    <div [ngClass]="classes.textCenter"><strong>Kheri Road, Near Don Bosco School Lakhimpur Kheri UP - 262701</strong></div>
    <div [ngClass]="classes.textCenter"><strong>Ph.No:6388803534</strong></div>
    <div [ngClass]="classes.singleLine">&nbsp;</div>

    <div [ngClass]="classes.textCenter"><strong>Receipt / Invoice / Bill</strong> </div>
    <div [ngClass]="classes.singleLine">&nbsp;</div>
    <div [ngClass]="classes.textLeft"><strong>Patient Name - </strong>{{patientDetails.firstName}} {{patientDetails.lastName}}</div>
   
    <div [ngClass]="classes.singleLine">&nbsp;</div>
    <div [ngClass]="classes.textRight"><strong>Date-</strong>{{invoiceDetails.createdDate |
        date:'dd-MMMM-yyyy'}} </div>
    <div [ngClass]="classes.textRight"><strong>Time-</strong>{{this.Timenow}}{{this.Timenow.substring(0,2) >"12" ? 'PM': 'AM'}} </div>
    <div [ngClass]="classes.textRight"><strong>InvoiceId-</strong>#INV-{{invoiceDetails.invoiceId}} </div>
    <div [ngClass]="classes.textRight"><strong>Payment Mode: {{paymentMode}}</strong></div>          
    <div [ngClass]="classes.textRight"><label *ngIf="paymentMode == 'Online'"><strong>Reference No.: {{ReferenceTextBoxVal}}</strong></label></div>
    <div [ngClass]="classes.singleLine">&nbsp;</div>
    <div [ngClass]="classes.grid3Col">
        <div [ngClass]="classes.wrapper">
            <div style="width: 10mm;"><strong>SR.</strong></div>
            <div style="width: 10mm;"><strong>Item</strong></div>
            <!--<div style="width: 3mm;margin-left: 5px"><strong>Qty</strong></div>-->
            <div style="width: 10mm;"><strong>Price</strong></div>
            <div style="width: 20mm;"><strong>Disc.(%)</strong></div>
            <div style="width: 10mm;"><strong>Amt</strong></div>
        </div>

        <div [ngClass]="[classes.gridBorder, classes.gridBorderDouble]"></div>
        <div style="display: flex;flex-direction: column;">
            <div [ngClass]="classes.wrapper" *ngFor="let data of appointmentList; let i = index">
                <div style="width:3mm;">{{ i + 1 }}</div>
                <div style="width:20mm;">Consultation </div>
                <!-- <div style="width: 1%;">1</div>-->
                <div style="width: 10mm;">{{appointmentDetails.fee}}</div>
                <div style="width: 10mm;">{{ flag ? 100 : 0 }} </div>
                <div style="width: 10mm;">{{appointmentDetails.fee}}</div>
            </div>

            <div [ngClass]="classes.wrapper" *ngFor="let data of addtionalInoiveItem; let i = index">
                <div style="width:3mm;">{{ i + 2 }}</div>
                <div style="width:20mm;">{{data.itemName}}</div>
                <!--<div style="width: 1%;">1</div>-->
                <div style="width: 10mm;">{{data.fee}}</div>
                <div style="width: 10mm;">{{data.discount}} </div>
                <div style="width: 10mm;">{{data.finalAmount}}</div>
            </div>

        </div>

    </div>

    <div [ngClass]="[classes.gridBorder, classes.gridBorderSolid]"></div>
    <div [ngClass]="classes.singleLine">&nbsp;</div>
    <div [ngClass]="classes.textRight">
        <strong>Total: ₹{{formatToTwoDecimalPlaces(totalInvoiceAmount)}}</strong>   
    </div>


    <!--<div [ngClass]="classes.textLeft">Terms and Conditions</div>-->
    <div [ngClass]="classes.singleLine">&nbsp;</div>
    <div [ngClass]="classes.textLeft"><strong>Terms and Conditions</strong> </div>
    <div [ngClass]="classes.textLeft">OPD Prescription valid for 7(seven) days including today</div>
    <div [ngClass]="classes.textLeft">Audiometry services are subject to availability and warranty services are only
        being provided by selling company.</div>
    <div [ngClass]="classes.singleLine">&nbsp;</div>
    <div [ngClass]="classes.singleLine">&nbsp;</div>
    <div [ngClass]="classes.textLeft">Authorized Signatory</div>
    <div [ngClass]="classes.singleLine">&nbsp;</div>
    <div [ngClass]="classes.textLeft"><strong>Receipt by -</strong> {{loggedIn.fname}} {{loggedIn.lname}} </div>
</div>