<div class="page-wrapper">
    <div class="content">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="routes.staffList">Staff </a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Add Staff</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        <div class="row">
            <div class="col-sm-12">

                <div class="card">
                    <div class="card-body">
                        <form [formGroup]="staffReg" (ngSubmit)="addStaff(staffReg)">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-heading">
                                        <h4>Staff Details</h4>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-xl-4" *ngIf="shouldShowHospitalDropdown">
                                    <div class="form-group local-forms">
                                        <label for="hospitalId">Hospital <span class="login-danger">*</span></label>
                                        <mat-select formControlName="hospitalId" class="form-control select" placeholder="Select Hospital">
                                            <mat-option *ngFor="let hospital of hospitals" [value]="hospital.hospitalId">
                                                {{ hospital.name }}
                                            </mat-option>
                                        </mat-select>
                                        <div *ngIf="staffReg.get('hospitalId')?.invalid && (staffReg.get('hospitalId')?.dirty || staffReg.get('hospitalId')?.touched)"
                                            class="text-danger">
                                            <div *ngIf="staffReg.get('hospitalId')?.errors?.['required']">Hospital selection is required.</div>
                                        </div>
                                        <div *ngIf="isLoadingHospitals" class="text-muted mt-1">
                                            <small>Loading hospitals...</small>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label for="name">First Name <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text" formControlName="firstName">
                                        <div *ngIf="staffReg.get('firstName')?.invalid && (staffReg.get('firstName')?.dirty || staffReg.get('firstName')?.touched)"
                                            class="text-danger">
                                            <div *ngIf="staffReg.get('firstName')?.errors?.['required']">First name is
                                                required.</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label for="last">Last Name </label>
                                        <input class="form-control" type="text" formControlName="lastName">
                                        <div *ngIf="staffReg.get('lastName')?.invalid && (staffReg.get('lastName')?.dirty || staffReg.get('lastName')?.touched)"
                                            class="text-danger">
                                            <div *ngIf="staffReg.get('lastName')?.errors?.['required']">Last name is
                                                required.</div>
                                        </div>
                                        <!-- Add validation messages for last name if needed -->
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label for="user">Consultation Fee <span class="login-danger">*</span></label>
                                        <input class="form-control" type="number" formControlName="consultationFee">
                                        <div *ngIf="staffReg.get('consultationFee')?.invalid && (staffReg.get('consultationFee')?.dirty || staffReg.get('consultationFee')?.touched)"
                                            class="text-danger">
                                            <div *ngIf="staffReg.get('consultationFee')?.errors?.['required']">
                                                Consultation Fee is required.</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-forms">
                                        <label for="mobile">Mobile <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text" formControlName="mobile">
                                        <div *ngIf="mobile.invalid && (mobile.dirty || mobile.touched)"
                                            class="text-danger">
                                            <div *ngIf="mobile.errors?.['required']">Mobile number is required.</div>
                                            <div *ngIf="mobile.errors?.['pattern']">Mobile number must be exactly 10
                                                digits.</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-forms">
                                        <label for="email">Email <span class="login-danger">*</span></label>
                                        <input class="form-control" type="email" formControlName="email">
                                        <div *ngIf="staffReg.get('email')?.invalid && (staffReg.get('email')?.dirty || staffReg.get('email')?.touched)"
                                            class="text-danger">
                                            <div *ngIf="staffReg.get('email')?.errors?.['required']">Email is required.
                                            </div>
                                            <div *ngIf="staffReg.get('email')?.errors?.['email']">Invalid email format.
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label for="Birth">Date Of Birth <span class="login-danger">*</span></label>
                                        <input class="form-control datetimepicker"
                                            (dateChange)="onDobDateChange($event)" placeholder="DD/MM/YYYY" type="text"
                                            formControlName="dob" matInput [matDatepicker]="dob" [max]="maxDate">
                                        <mat-datepicker #dob></mat-datepicker>
                                        <mat-datepicker-toggle matIconSuffix [for]="dob"></mat-datepicker-toggle>
                                        <div *ngIf="staffReg.get('dob')?.invalid && (staffReg.get('dob')?.dirty || staffReg.get('dob')?.touched)"
                                            class="text-danger">
                                            <div *ngIf="staffReg.get('dob')?.errors?.['required']">Date of birth is
                                                required.</div>
                                            <div *ngIf="staffReg.get('dob')?.errors?.['minAge']">
                                                Staff must be at least 21 years old.
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label for="Birth">Date Of Joining <span class="login-danger">*</span></label>
                                        <input class="form-control datetimepicker"
                                            (dateChange)="onDOJDateChange($event)" placeholder="DD/MM/YYYY" type="text"
                                            formControlName="doj" matInput [matDatepicker]="doj"
                                            [min]="staffReg.get('dob')?.value">
                                        <mat-datepicker #doj></mat-datepicker>
                                        <mat-datepicker-toggle matIconSuffix [for]="doj"></mat-datepicker-toggle>
                                        <div *ngIf="staffReg.get('doj')?.invalid && (staffReg.get('doj')?.dirty || staffReg.get('doj')?.touched)"
                                            class="text-danger">
                                            <div *ngIf="staffReg.get('doj')?.errors?.['required']">Date of joining is
                                                required.</div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group select-gender">
                                        <label for="gender" class="gen-label">Gender <span
                                                class="login-danger">*</span></label>
                                        <div class="form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" formControlName="gender" class="form-check-input"
                                                    value="Male">Male
                                            </label>
                                        </div>
                                        <div class="form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" formControlName="gender" class="form-check-input"
                                                    value="Female">Female
                                            </label>
                                        </div>
                                        <div class="form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" formControlName="gender" class="form-check-input"
                                                    value="Transgender">Transgender
                                            </label>
                                        </div>
                                        <div *ngIf="staffReg.get('gender')?.invalid && (staffReg.get('gender')?.dirty || staffReg.get('gender')?.touched)"
                                            class="text-danger">
                                            <div *ngIf="staffReg.get('gender')?.errors?.['required']">Gender is
                                                required.</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label for="education">Education <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text" formControlName="education" placeholder="add -- to split it multiple line on prescription">
                                        <div *ngIf="staffReg.get('education')?.invalid && (staffReg.get('education')?.dirty || staffReg.get('education')?.touched)"
                                            class="text-danger">
                                            <div *ngIf="staffReg.get('education')?.errors?.['required']">Education is
                                                required.</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label for="designation">Designation <span class="login-danger">*</span></label>
                                        <mat-select formControlName="designation" class="form-control select"
                                            (selectionChange)="onSelectionChange($event)"
                                            placeholder="Select Designation">
                                            <mat-option *ngFor="let data of designationList" [value]="data.value">
                                                {{data.value}}
                                            </mat-option>
                                        </mat-select>
                                        <div *ngIf="staffReg.get('designation')?.invalid && (staffReg.get('designation')?.dirty || staffReg.get('designation')?.touched)"
                                            class="text-danger">
                                            <div *ngIf="staffReg.get('designation')?.errors?.['required']">Designation
                                                is required.</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label for="roleId">Role (Optional)</label>
                                        <mat-select formControlName="roleId" class="form-control select" placeholder="Select Role">
                                            <mat-option value="">-- No Role Assigned --</mat-option>
                                            <mat-option *ngFor="let role of roles" [value]="role.roleId">
                                                {{ role.roleDisplayName }}
                                            </mat-option>
                                        </mat-select>
                                        <div *ngIf="isLoadingRoles" class="text-muted mt-1">
                                            <small>Loading roles...</small>
                                        </div>
                                        <div class="text-muted mt-1">
                                            <small>Role assignment is optional. If not selected, role will be based on designation.</small>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group select-gender">
                                        <label for="Status" class="gen-label">Status <span
                                                class="login-danger">*</span></label>
                                        <div class="form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" formControlName="activeStatus"
                                                    class="form-check-input" value="1">Active
                                            </label>
                                        </div>
                                        <div class="form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" formControlName="activeStatus"
                                                    class="form-check-input" value="2">Inactive
                                            </label>
                                        </div>
                                        <div *ngIf="staffReg.get('activeStatus')?.invalid && (staffReg.get('activeStatus')?.dirty || staffReg.get('activeStatus')?.touched)"
                                            class="text-danger">
                                            <div *ngIf="staffReg.get('activeStatus')?.errors?.['required']">Status is
                                                required.</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label for="department">Department <span class="login-danger">*</span></label>
                                        <mat-select formControlName="departmentId" class="form-control select"
                                            placeholder="Select Department">
                                            <mat-option *ngFor="let data of _depDto" [value]="data.departmentId">
                                                {{data.displayName || data.departmentName}}
                                            </mat-option>
                                        </mat-select>
                                        <div *ngIf="staffReg.get('departmentId')?.invalid && (staffReg.get('departmentId')?.dirty || staffReg.get('departmentId')?.touched)"
                                            class="text-danger">
                                            <div *ngIf="staffReg.get('departmentId')?.errors?.['required']">Department
                                                is required.</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label for="Consulting">Identity Proof<span
                                                class="login-danger">*</span></label>
                                        <mat-select formControlName="IdentityName" formControlName="IdentityName"
                                            class="form-control select" placeholder="Select Identity">
                                            <mat-option *ngFor="let data of IdentityDocNumber"
                                                [value]="data.value">
                                                {{data.value}}
                                            </mat-option>
                                        </mat-select>
                                        <div *ngIf="staffReg.get('IdentityName')?.invalid && (staffReg.get('IdentityName')?.dirty || staffReg.get('IdentityName')?.touched)"
                                            class="text-danger">
                                            <div
                                                *ngIf="staffReg.get('IdentityName')?.errors?.['required']">
                                                Proof is required.</div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label for="lastname">Identity Number <span
                                                class="login-danger">*</span></label>
                                        <input class="form-control" formControlName="IdentityNumber" type="text"
                                            placeholder="Enter Identity doc Number">
                                        <div *ngIf="staffReg.get('IdentityNumber')?.invalid && (staffReg.get('IdentityNumber')?.dirty || staffReg.get('IdentityNumber')?.touched)"
                                            class="text-danger">
                                            <div
                                                *ngIf="staffReg.get('IdentityNumber')?.errors?.['required']">
                                                Number is required.</div>
                                        </div>
                                    </div>
                                </div>





                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label for="password">Password <span class="login-danger">*</span></label>
                                        <input class="form-control" [type]="passwordClass ? 'text' : 'password'"
                                            formControlName="password">
                                        <span (click)="togglePassword()" (keyup.enter)="togglePassword()"
                                            [ngClass]="passwordClass ? 'feather icon-eye' : 'feather icon-eye-off'"
                                            class="profile-views toggle-password" tabindex="0"></span>
                                        <div *ngIf="staffReg.get('password')?.invalid && (staffReg.get('password')?.dirty || staffReg.get('password')?.touched)"
                                            class="text-danger">
                                            <div *ngIf="staffReg.get('password')?.errors?.['required']">Password is
                                                required.</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label for="confirmpassword">Confirm Password <span
                                                class="login-danger">*</span></label>
                                        <input class="form-control" type="password" formControlName="cpassword"
                                            [type]="passwordClass1 ? 'text' : 'password'" (blur)="onBlur()">
                                        <span (click)="togglePassword1()" (keyup.enter)="togglePassword1()"
                                            [ngClass]="passwordClass1 ? 'feather icon-eye' : 'feather icon-eye-off'"
                                            class="profile-views toggle-password" tabindex="0"></span>
                                        <!-- Add validation messages for confirm password if needed -->
                                        <div *ngIf="staffReg.get('cpassword')?.invalid && (staffReg.get('cpassword')?.dirty || staffReg.get('cpassword')?.touched)"
                                            class="text-danger">
                                            <div *ngIf="staffReg.get('cpassword')?.errors?.['required']">This is
                                                required.</div>
                                            <div *ngIf="staffReg.hasError('passwordMismatch')">Passwords do not match.
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label for="PrescriptionValidity">Prescription Validity <span class="login-danger">*</span></label>
                                        <input class="form-control" type="number" formControlName="PrescriptionValidity" placeholder="Enter validity in days">
                                        <div *ngIf="staffReg.get('PrescriptionValidity')?.invalid && (staffReg.get('PrescriptionValidity')?.dirty || staffReg.get('PrescriptionValidity')?.touched)" class="text-danger">
                                            <div *ngIf="staffReg.get('PrescriptionValidity')?.errors?.['required']">Prescription Validity is required.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4" *ngIf="staffReg.get('designation')?.value === 'Doctor'">
                                    <div class="form-group local-forms">
                                        <label for="lastname">Registration Number</label>
                                        <input class="form-control" formControlName="registrationNumber" type="text"
                                            placeholder="Enter Registration Number">
                                        <div *ngIf="staffReg.get('registrationNumber')?.invalid && (staffReg.get('registrationNumber')?.dirty || staffReg.get('IdentityNumber')?.touched)"
                                            class="text-danger">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12">
                                    <div class="form-group local-forms">
                                        <label for="address">Address <span class="login-danger">*</span></label>
                                        <textarea class="form-control" rows="3" cols="30"
                                            formControlName="address"></textarea>
                                        <div *ngIf="staffReg.get('address')?.invalid && (staffReg.get('address')?.dirty || staffReg.get('address')?.touched)"
                                            class="text-danger">
                                            <div *ngIf="staffReg.get('address')?.errors?.['required']">Address is
                                                required.</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="doctor-submit text-end">
                                        <button type="submit" class="btn btn-primary submit-form me-2" [disabled]="isSubmitting">
                                            <span *ngIf="isSubmitting" class="spinner-border spinner-border-sm me-2" role="status"></span>
                                            {{ isSubmitting ? 'Submitting...' : 'Submit' }}
                                        </button>
                                        <button type="button" class="btn btn-secondary cancel-form"
                                            (click)="onCancel()" [disabled]="isSubmitting">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>