<td><strong>Diabetes:</strong>{{ vitalDto.diabetes === true ? 'Yes' : vitalDto.diabetes === false ? 'No' : '' }}</td>
<td><strong>Thyroid Disease:</strong>{{ vitalDto.thyroid === true ? 'Yes' : vitalDto.thyroid === false ? 'No' : '' }}</td>
<tr><td><strong>Hypertension:</strong>{{ vitalDto.hypertension === true ? 'Yes' : vitalDto.hypertension === false ? 'No' : '' }}</td>
<td><strong>Alcohol:</strong>{{ vitalDto.alcohol === true ? 'Yes' : vitalDto.alcohol === false ? 'No' : '' }}</td>
<tr><td><strong>Smoking:</strong>{{ vitalDto.smoking === true ? 'Yes' : vitalDto.smoking === false ? 'No' : '' }}</td>
<td><strong>Tobacco:</strong>{{ vitalDto.tobacco === true ? 'Yes' : vitalDto.tobacco === false ? 'No' : '' }}</td> 