<div class="page-wrapper">
    <div class="content">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="routes.invoices">Invoices </a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Add Invoice</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->

        <div class="row">
            <div class="col-sm-12">

                <div class="card ">
                    <div class="card-body">
                        <!-- Table Header -->
                        <div class="page-table-header mb-2">
                            <div class="row align-items-center">
                                <div class="col">
                                    <div class="doctor-table-blk">
                                        <h3>Patient List</h3>
                                        <div class="doctor-search-blk">
                                            <div class="top-nav-search table-search-blk">
                                                <input type="text" class="form-control" placeholder="Search here"
                                                    [(ngModel)]="searchDataValue"
                                                    (ngModelChange)="searchData(searchDataValue)">
                                                <a class="btn"><img src="assets/img/icons/search-normal.svg" alt=""></a>
                                            </div>
                                            <div class="add-group">
                                                <a [routerLink]="routes.addPatient"
                                                    class="btn btn-primary add-pluss ms-2"><img
                                                        src="assets/img/icons/plus.svg" alt=""></a>
                                                <a href="javascript:;" class="btn btn-primary doctor-refresh ms-2"
                                                    (click)="onRefresh()"><img src="assets/img/icons/re-fresh.svg"
                                                        alt=""></a>
                                            </div>
                                            <!-- <div class="col-12 col-md-6 col-xl-3 mt-2  ms-2"> -->
                                            <form [formGroup]="dateForm">
                                                <div class="top-nav-search">
                                                    <!-- <label for="Birth">From <span class="login-danger">*</span></label> -->
                                                    <input class="form-control datetimepicker"
                                                        (dateChange)="onDobDateChange($event,'from')"
                                                        formControlName="from" placeholder="From" type="text" matInput
                                                        [matDatepicker]="From">
                                                    <mat-datepicker #From></mat-datepicker>
                                                    <mat-datepicker-toggle matIconSuffix
                                                        [for]="From"></mat-datepicker-toggle>

                                                </div>
                                                <!-- <div class="col-12 col-md-6 col-xl-3 mt-2  ms-2"> -->
                                                <div class="top-nav-search">
                                                    <!-- <label for="Birth">To <span class="login-danger">*</span></label> -->
                                                    <input class="form-control datetimepicker"
                                                        (dateChange)="onDobDateChange($event,'to')" placeholder="To"
                                                        formControlName="to" type="text" matInput [matDatepicker]="To"
                                                        [min]="minToDate">
                                                    <mat-datepicker #To></mat-datepicker>
                                                    <mat-datepicker-toggle matIconSuffix
                                                        [for]="To"></mat-datepicker-toggle>

                                                    <!-- </div> -->
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Table Header -->
                        <div *ngIf="flag == false" class="table-responsive">
                            <!-- <div class="col-12">
                                <div class="form-heading">
                                    <h4><b>Select Patient</b></h4>
                                </div>
                            </div> -->
                            <table matSort (matSortChange)="sortData($event)"
                                class="table border-0 custom-table comman-table datatable mb-0">
                                <thead>
                                    <tr>
                                        <th>Sr. No.</th>
                                        <th mat-sort-header="name">Patient Id</th>
                                        <th mat-sort-header="name">Name</th>
                                        <th mat-sort-header="gender">Gender</th>
                                        <th mat-sort-header="Age">Age</th>
                                        <th mat-sort-header="mobile">Mobile</th>
                                        <th mat-sort-header="email">Email</th>
                                        <th mat-sort-header="name">Registration Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of patientList; let i=index"
                                        (click)="selectPatient(data.patientId)">
                                        <td>{{serialNumberArray[i]}}</td>
                                        <td>{{data.patientId}}</td>
                                        <td class="profile-image">
                                            <a href="javascript:;">
                                                {{data.firstName}}
                                                {{data.lastName}}
                                            </a>
                                        </td>
                                        <td>{{data.gender}}</td>
                                        <td>{{data.ageinYear}}</td>
                                        <td><a href="javascript:;">{{data.mobile}}</a></td>
                                        <td>{{data.email}}</td>
                                        <td>{{data.regstrationDate}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="table_footer">
                                <div class="col-sm-12 col-md-5">
                                    <div class="dataTables_info">
                                        Showing {{ serialNumberArray[0] }} to
                                        {{ serialNumberArray[serialNumberArray.length - 1] }} of
                                        {{ totalData }} entries
                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-7">
                                    <div class="pagination_section">
                                        <ul class="pagination">
                                            <li class="page-item" [ngClass]="{
                                    disabled: currentPage === 1
                                  }">
                                                <a (click)="getMoreData('previous')" class="page-link"
                                                    href="javascript:void(0);" tabindex="-1">Previous</a>
                                            </li>

                                            <ng-container *ngFor="let item of pageNumberArray; let i = index">
                                                <li class="page-item" [class.active]="item === currentPage" [ngClass]="
                                      (pageNumberArray[currentPage - 2] > item &&
                                        item !== 1 &&
                                        pageNumberArray.length > 6) ||
                                      (pageNumberArray[currentPage] < item &&
                                        item !== 1 &&
                                        pageNumberArray.length > 6 &&
                                        pageNumberArray.length !== item)
                                        ? 'hide-page-no'
                                        : 'show-page-no'
                                    ">
                                                    <a (click)="moveToPage(item)" class="page-link"
                                                        href="javascript:void(0);">
                                                        {{ item }}
                                                    </a>
                                                </li>
                                                <li class="page-item" *ngIf="
                                      i === 0 &&
                                      pageNumberArray.length > 6 &&
                                      currentPage > 2
                                    " [hidden]="currentPage === 1" (click)="moveToPage(currentPage - 2)"
                                                    (keyup.enter)="moveToPage(currentPage - 2)" tabindex="0">
                                                    <a class="page-link" href="javascript:void(0);">
                                                        ...
                                                    </a>
                                                </li>
                                                <li *ngIf="
                                      i === pageNumberArray.length - 2 &&
                                      pageNumberArray.length > 6
                                    " [hidden]="
                                      currentPage >=
                                        pageNumberArray[pageNumberArray.length - 2] ||
                                      totalData <
                                        serialNumberArray[serialNumberArray.length - 1]
                                    " class="page-item" (click)="moveToPage(currentPage + 2)"
                                                    (keyup.enter)="moveToPage(currentPage + 2)" tabindex="0">
                                                    <a class="page-link" href="javascript:void(0);">
                                                        ...
                                                    </a>
                                                </li>
                                            </ng-container>

                                            <li class="page-item" [ngClass]="{
                                    disabled:
                                      currentPage ===
                                        pageNumberArray[pageNumberArray.length - 1] ||
                                        patientlist.length === 0
                                  }">
                                                <a (click)="getMoreData('next')" class="page-link"
                                                    href="javascript:void(0);">Next
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <!-- remove this -->
                        <form [formGroup]="bookappointment">
                            <div class="row" *ngFor="let patient of patientInfo">
                                <div class="col-12">
                                    <div class="form-heading">
                                        <h4><b>Add Invoice</b></h4>
                                    </div>
                                    <table class="table border-0 custom-table comman-table datatable mb-0">
                                        <thead>
                                            <tr>
                                                <th scope="col">Patient Name</th>
                                                <th scope="col">Age</th>
                                                <th scope="col">Mobile</th>
                                                <th scope="col">Gender</th>
                                                <th scope="col">Email</th>
                                                <!-- Add more headers based on your patient details -->
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>{{patient.firstName}}
                                                    {{patient.lastName}}</td>
                                                <td>{{patient.ageinYear}}</td>
                                                <td>{{patient.mobile}}</td>
                                                <td>{{patient.gender}}</td>
                                                <td>{{patient.email}}</td>
                                                <!-- Add more cells based on your patient details -->
                                            </tr>
                                            <!-- Add more rows for additional patients -->
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </form>

                        <form *ngIf="flag">
                            <div class="row">

                                <div class="card">
                                    <div class="card-body">
                                        <div class="page-table-header mb-2">
                                            <div class="row">
                                                <div class="col-sm-12">

                                                    <div class="card ">
                                                        <div class="card-body">
                                                            <form [formGroup]="invoiceItemForm">
                                                                <div class="form-group local-forms">
                                                                    <label for="InvoiceItem">Invoice Item <span
                                                                            class="login-danger">*</span></label>
                                                                    <mat-select formControlName="InvoiceItem"
                                                                        (selectionChange)="onItemSelectionChange($event)"
                                                                        class="form-control select">
                                                                        <mat-option *ngFor="let data of allnvoiceItems"
                                                                            [value]="data.itemId">
                                                                            {{data.itemName}}
                                                                        </mat-option>
                                                                    </mat-select>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>

                                                    <div *ngIf="addItemflag" class="card ">
                                                        <div class="card-body">
                                                            <form [formGroup]="addItemFormGroup"
                                                                (submit)="onItemSelectionChange(addItemFormGroup)">
                                                                <div class="row">
                                                                    <div class="col-12">
                                                                        <div class="form-heading">
                                                                            <h4>Invoice Item Details</h4>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12 col-md-6 col-xl-6">
                                                                        <div class="form-group local-forms">
                                                                            <label for="Items ">Item Name <span
                                                                                    class="login-danger">*</span></label>
                                                                            <input class="form-control"
                                                                                formControlName="itemName" type="text">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12 col-md-6 col-xl-6">
                                                                        <div class="form-group local-forms">
                                                                            <label for="Description">Description <span
                                                                                    class="login-danger">*</span></label>
                                                                            <input class="form-control"
                                                                                formControlName="description"
                                                                                type="text">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12 col-md-6 col-xl-6">
                                                                        <div class="form-group local-forms">
                                                                            <label for="Fee">Fee <span
                                                                                    class="login-danger">*</span></label>
                                                                            <input class="form-control" #fee
                                                                                formControlName="fee" type="text">

                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12 col-md-6 col-xl-6">
                                                                        <div class="form-group local-forms">
                                                                            <label for="Discount">Discount <span
                                                                                    class="login-danger">*</span></label>
                                                                            <input class="form-control" #total
                                                                                formControlName="discount" type="text">

                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12 col-md-6 col-xl-6">
                                                                        <div class="form-group local-forms">
                                                                            <label for="Total">Total <span
                                                                                    class="login-danger">*</span></label>
                                                                            <input class="form-control" type="text"
                                                                                formControlName="finalAmount">

                                                                        </div>
                                                                    </div>



                                                                    <div class="col-12">
                                                                        <div class="doctor-submit text-end">
                                                                            <button type="button"
                                                                                [disabled]="!addItemflag"
                                                                                class="btn btn-primary submit-form me-2"
                                                                                (click)="addItem()">Add</button>
                                                                            <button type="button"
                                                                                class="btn btn-primary cancel-form">Cancel</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>

                                                    <div class="card">
                                                        <div class="wrapperClass">
                                                            <div class="table-responsive">
                                                                <table
                                                                    class="table table-hover border-0 custom-table invoice-table">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>#</th>
                                                                            <th>Item</th>
                                                                            <th>Description</th>
                                                                            <th>Fee</th>
                                                                            <th>Discount (%)</th>
                                                                            <th>Total</th>
                                                                            <th>Remove</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <ng-container
                                                                            *ngIf="additionalInvoiceItems.length>0">
                                                                            <tr
                                                                                *ngFor="let data of additionalInvoiceItems; let i=index">

                                                                                <td>{{i+1}}</td>
                                                                                <td>{{data.itemName}}</td>
                                                                                <td>{{data.description}}</td>
                                                                                <td>{{data.fee}}</td>
                                                                                <td>{{data.discount}} </td>
                                                                                <td>{{ data.fee - ((data.discount/100) *
                                                                                    data.fee) }}</td>
                                                                                <td>
                                                                                    <a href="javascript:void(0);"
                                                                                        class="remove-btn"><i
                                                                                            class="fa fa-trash-alt"
                                                                                            (click)="removeItem(i)"></i></a>
                                                                                </td>
                                                                            </tr>
                                                                        </ng-container>
                                                                    </tbody>
                                                                </table>
                                                            </div>


                                                            <div class="row invoice-payment">
                                                                <div class="col-sm-7">
                                                                </div>
                                                                <div class="col-sm-5">
                                                                    <div class="m-b-20">
                                                                        <div class="table-responsive no-border">
                                                                            <table
                                                                                class="table mb-0 border-0 custom-table invoices-table total-fonts">
                                                                                <tbody>
                                                                                    <!-- <tr>
                                                                                        <td class="float-end">Balance :
                                                                                            ₹{{balanceAmount}}</td>
                                                                                    </tr> -->
                                                                                    <tr class="bold-total-invoice">
                                                                                        <td class="float-end">
                                                                                            <h5>Total
                                                                                                :₹{{totalInvoiceAmount}}
                                                                                            </h5>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6 col-lg-12 m-b-20">
                                                                <button (click)="changeColor('Cash')"
                                                                    class="custom-badge"
                                                                    [style.backgroundColor]="buttonColors.Cash">
                                                                    Cash
                                                                </button>
                                                                &nbsp;&nbsp;
                                                                <button (click)="changeColor('Online')"
                                                                    class="custom-badge"
                                                                    [style.backgroundColor]="buttonColors.Online">
                                                                    Online
                                                                </button>
                                                                <!-- <div [ngClass]="classes.singleLine">&nbsp;</div> -->
                                                                <div *ngIf="isTextboxVisible">
                                                                    <div class="col-12 col-md-6 col-xl-4">
                                                                        <div class="form-group local-forms">
                                                                            Reference No. <input id="RefNo"
                                                                                class="form-control" type="text"
                                                                                #RefNoInput />

                                                                        </div>
                                                                    </div>

                                                                </div>

                                                            </div>
                                                            <div class="invoice-info">
                                                                <h5>Terms & Condition</h5>
                                                                <p class="text-muted">OPD Prescription valid for
                                                                    today.Audiometry services are subject to
                                                                    availability and warranty services are only
                                                                    being provided by selling company. Authorized
                                                                    Signatory</p>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="doctor-submit float-end">
                                                                    <a href="javascript:;"
                                                                        class="btn btn-primary submit-form me-2"
                                                                        (click)="createInvoice()">Pay</a>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>