<div class="page-wrapper">
    <div class="content">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="routes.abhaDashboard">Abha </a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active"><a [routerLink]="routes.abhaAddress">Create Abha Address</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->

        <div class="row">
            <div class="col-sm-12">

                <div class="card">
                    <div class="card-body" *ngIf="showRegistrationOptionsForm">
                        <form [formGroup]="registrationOptionsForm">
                            <div class="row">

                                <div class="form-group select-gender">
                                    <label for="registerVia" class="gen-label">
                                        <h2>Create ABHA Address using<span class="login-danger">*</span></h2>
                                    </label>
                                    <div class="form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" formControlName="registerVia" class="form-check-input"
                                                value="Mobile" (change)="onRegisterViaChanged($event);">Mobile
                                        </label>
                                    </div>
                                    <div class="form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" formControlName="registerVia" class="form-check-input"
                                                value="AbhaNumber" (change)="onRegisterViaChanged($event);">ABHA Number
                                        </label>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-6 col-xl-4 form-group local-forms">

                                </div>
                            </div>
                            <div class="row" *ngIf="registerViaMobile != null && registerViaMobile">
                                <div class="col-12 col-md-6 col-xl-4 form-group local-forms">
                                    <label for="mobileNumber">Mobile Number <span class="login-danger">*</span></label>
                                    <input class="form-control" formControlName="mobileNumber" type="text"
                                        placeholder="">
                                </div>
                            </div>
                            <div class="row" *ngIf="registerViaMobile != null && !registerViaMobile">
                                <div class="col-12 col-md-6 col-xl-4 form-group local-forms">
                                    <label for="abhaNumber">ABHA Number <span class="login-danger">*</span></label>
                                    <input class="form-control" formControlName="abhaNumber" type="text" placeholder="">
                                </div>
                            </div>
                            <div class="row" *ngIf="showOtp">
                                <div class="col-12 col-md-6 col-xl-4 form-group local-forms">
                                    <label for="otp">OTP <span class="login-danger">*</span></label>
                                    <input class="form-control" formControlName="otp" type="text" placeholder="">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-6 col-xl-4 form-group local-forms">
                                    <button class="btn btn-primary submit-form me-2" type="button"
                                        (click)="submit()">Submit</button>
                                    <button class="btn btn-primary submit-form me-2" type="button">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <!-- Register via Abha Number -->
                    <div *ngIf="!registerViaMobile">
                        <div class="card-body" *ngIf="showRegistrationViaAbhaForm">

                            <form [formGroup]="registerViaAbhaForm">
                                <div class="row">
                                    <div class="col-12 col-md-6 col-xl-4">
                                        <div class="form-group local-forms">
                                            <label for="abha">ABHA Number
                                                <span class="login-danger">*</span>
                                            </label>
                                            <input class="form-control" formControlName="abhaNumber" type="text"
                                                placeholder="" [value]="registrationOptionsForm.value.abhaNumber"
                                                readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div>
                                        <div class="form-group select-auth-type">
                                            <label for="validateVia" class="gen-label">
                                                <h2>Validate using<span class="login-danger">*</span>
                                                </h2>
                                            </label>
                                            <div class="form-check-inline">
                                                <label class="form-check-label">
                                                    <input type="radio" formControlName="validateVia"
                                                        class="form-check-input" value="AadharOtp"
                                                        (change)="onValidateViaChanged($event);">OTP on Mobile
                                                    Number linked with your Aadhaar
                                                </label>
                                            </div>
                                            <div class="form-check-inline">
                                                <label class="form-check-label">
                                                    <input type="radio" formControlName="validateVia"
                                                        class="form-check-input" value="AbhaOtp"
                                                        (change)="onValidateViaChanged($event);">OTP on mobile
                                                    number linked with your ABHA Address/ ABHA Number
                                                </label>

                                            </div>
                                        </div>
                                    </div>

                                    <br />
                                    <div class="col-12 col-md-6 col-xl-4 form-group local-forms">
                                        <button class="btn btn-primary submit-form me-2" type="button"
                                            (click)="generateOtpForAddressCreation()">Continue</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                        <div class="card-body" *ngIf="showConfirmOTPForm">

                            <form [formGroup]="cofirmOTPForm">
                                <div class="row">
                                    <div class="col-12 col-md-6 col-xl-4">
                                        <div class="form-group local-forms">
                                            <label for="otp">OTP
                                                <span class="login-danger">*</span>
                                            </label>
                                            <input class="form-control" formControlName="otp" type="text"
                                                placeholder="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                    <br />
                                    <div class="col-12 col-md-6 col-xl-4 form-group local-forms">
                                        <button class="btn btn-primary submit-form me-2" type="button"
                                            (click)="verifyOtpForAddressCreation()">Continue</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                        <div class="card-body" *ngIf="showLinkedAbhaAddressessForm">

                            <form [formGroup]="linkedAbhaAddressessForm">
                                <div class="row">
                                    <div class="col-12 col-md-12 col-xl-12">
                                        <div class="form-group local-forms">
                                            <h1>We have found {{alreadyLinkedAddressesCount}}
                                                ABHA addresses linked to this Mobile.
                                            </h1>
                                            <br />
                                            <li *ngFor="let addr of linkedAddresses">
                                                {{addr}}
                                            </li>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                    <br />
                                    <div class="col-12 col-md-6 col-xl-4 form-group local-forms">
                                        <button class="btn btn-primary submit-form me-2" type="button"
                                            (click)="createNewAddress()">Create New
                                            Address</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="card-body" *ngIf="showCreateNewAbhaAddressForm">
                            <form [formGroup]="createNewAbhaAddressForm">
                                <h2>Create New ABHA address</h2>
                                <div class="row">
                                    <div class="col-12 col-md-6 col-xl-6">
                                        <div class="col-12 col-md-6 col-xl-6 form-group local-forms">
                                            <label for="newAbhaAddress">ABHA Address <span
                                                    class="login-danger">*</span></label>
                                            <input class="form-control" formControlName="newAbhaAddress" type="text"
                                                placeholder="" value="{{selectedAbhaAddress}}">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12 col-xl-12">
                                        <h2>Or, you can select any address from below suggestions: </h2>
                                        <div *ngFor="let item of suggestionList | slice:0:3">
                                            <a href="javascript:;" (click)="selectAbhaAddress(item)">{{item}}</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <br />
                                    <br />

                                    <div class="col-12 col-md-6 col-xl-4 form-group local-forms">
                                        <button class="btn btn-primary submit-form me-2" type="button"
                                            (click)="submitNewAddress()">Submit</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>

                    <!-- Register via Mobile Number -->
                    <div *ngIf="registerViaMobile">
                        <!-- <div class="card-body">

                            <form [formGroup]="registerViaMobileForm">
                                <div class="row">
                                    <div class="col-12 col-md-6 col-xl-4">
                                        <div class="form-group local-forms">
                                            <label for="mobileNumber">Mobile Number
                                                <span class="login-danger">*</span>
                                            </label>
                                            <input class="form-control" formControlName="mobileNumber" type="text"
                                                placeholder="" [value]="registrationOptionsForm.value.mobileNumber">
                                        </div>
                                    </div>
                                </div>
                                <div class="row" *ngIf="showOtp">
                                    <div class="col-12 col-md-6 col-xl-4 form-group local-forms">
                                        <label for="otp">OTP <span class="login-danger">*</span></label>
                                        <input class="form-control" formControlName="otp" type="text" placeholder="">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-md-6 col-xl-4 form-group local-forms">
                                        <button class="btn btn-primary submit-form me-2" type="button"
                                            (click)="generateOtpViaMobile()">Continue</button>
                                    </div>
                                </div>
                            </form>

                        </div> -->
                        <!-- <div class="card-body" *ngIf="showMobileCofirmOTPForm">  

                            <form [formGroup]="mobileCofirmOTPForm">
                                <div class="row">
                                    <div class="col-12 col-md-6 col-xl-4">
                                        <div class="form-group local-forms">
                                            <label for="otp">OTP
                                                <span class="login-danger">*</span>
                                            </label>
                                            <input class="form-control" formControlName="otp" type="text"
                                                placeholder="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                    <br />
                                    <div class="col-12 col-md-6 col-xl-4 form-group local-forms">
                                        <button class="btn btn-primary submit-form me-2" type="button"
                                            (click)="verifyOtpViaMobile()">Continue</button>
                                    </div>
                                </div>

                            </form>
                        </div> -->
                        <div class="card-body" *ngIf="showMobileLinkedAbhaAddressessForm">

                            <form [formGroup]="mobileLinkedAbhaAddressessForm">
                                <div class="row">
                                    <div class="col-12 col-md-12 col-xl-12">
                                        <div class="form-group local-forms">
                                            <h1>We have found {{alreadyLinkedAddressesCount}}
                                                ABHA addresses linked to this Mobile.
                                            </h1>
                                            <br />
                                            <li *ngFor="let addr of linkedAddresses">
                                                {{addr}}
                                            </li>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                    <br />
                                    <div class="col-12 col-md-6 col-xl-4 form-group local-forms">
                                        <button class="btn btn-primary submit-form me-2" type="button"
                                            (click)="createNewAddressViaMobile()">Create New
                                            Address</button>
                                    </div>
                                    <div class="col-12 col-md-6 col-xl-4 form-group local-forms">
                                        <button class="btn btn-primary submit-form me-2" type="button"
                                            (click)="getSuggestions()">Get Suggestions</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="card-body" *ngIf="showMobileCreateNewAbhaAddressForm" >
                            <form [formGroup]="mobileCreateNewAbhaAddressForm">
                                <h2>Create New ABHA address</h2>
                                <div class="row">
                                    <div class="col-12 col-md-6 col-xl-6">
                                        <div class="col-12 col-md-6 col-xl-6 form-group local-forms">
                                            <label for="newAbhaAddress">ABHA Address <span
                                                    class="login-danger">*</span></label>
                                            <input class="form-control" formControlName="newAbhaAddress" type="text"
                                                placeholder="" value="{{selectedAbhaAddress}}">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12 col-xl-12">
                                        <h2>Or, you can select any address from below suggestions: </h2>
                                        <div *ngFor="let item of suggestionList | slice:0:3">
                                            <a href="javascript:;" (click)="selectAbhaAddress(item)">{{item}}</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <br />
                                    <br />

                                    <div class="col-12 col-md-6 col-xl-4 form-group local-forms">
                                        <button class="btn btn-primary submit-form me-2" type="button"
                                            (click)="submitNewAddressViaMobile()">Submit</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>