<configuration>
  <system.web>
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    
    <!-- Ensure URL Rewrite Module is enabled -->
    <defaultDocument>
      <files>
        <add value="index.html" />
      </files>
    </defaultDocument>

    <!-- Enable URL Rewrite Module -->
    <rewrite>
      <rules>
        <!-- Rule for API calls - don't rewrite -->
        <rule name="API" stopProcessing="true">
          <match url="^api/.*" />
          <action type="None" />
        </rule>
        
        <!-- Rule for static assets - don't rewrite -->
        <rule name="Assets" stopProcessing="true">
          <match url="^assets/.*" />
          <action type="None" />
        </rule>
        
        <!-- Rule for Angular Routes -->
        <rule name="Angular Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/(api|assets)" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
      </rules>
    </rewrite>

    <!-- MIME Types for Angular files -->
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
    </staticContent>

    <!-- Enable HTTP Compression -->
    <httpCompression>
      <dynamicTypes>
        <add mimeType="text/html" enabled="true"/>
        <add mimeType="text/css" enabled="true"/>
        <add mimeType="application/javascript" enabled="true"/>
        <add mimeType="application/json" enabled="true"/>
      </dynamicTypes>
    </httpCompression>

    <!-- Security Headers -->
    <httpProtocol>
      <customHeaders>
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-Frame-Options" value="DENY" />
        <add name="X-XSS-Protection" value="1; mode=block" />
      </customHeaders>
    </httpProtocol>

  </system.webServer>
</configuration>
