<div class="page-wrapper">
  <div class="content">

    <!-- Page Header -->
    <div class="page-header">
      <div class="row">
        <div class="col-sm-12">
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="routes.invoices">Accounts </a></li>
            <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
            <li class="breadcrumb-item active">Invoices</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
      <div class="col-sm-12">

        <div class="card card-table show-entire">
          <div class="card-body">

            <!-- Table Header -->
            <div class="page-table-header mb-2">
              <div class="row align-items-center">
                <div class="col">
                  <div class="doctor-table-blk">
                    <h3 class="page-title mb-4">Invoice List</h3>
                    <div class="doctor-search-blk">
                      <div class="top-nav-search table-search-blk mb-4">
                        <input class="form-control" placeholder="Search here" [(ngModel)]="searchDataValue"
                          (ngModelChange)="searchData(searchDataValue)">
                        <a class="btn"><img src="assets/img/icons/search-normal.svg" alt=""></a>
                      </div>
                      <div class="add-group mb-4">
                        <a [routerLink]="routes.createInvoice" class="btn btn-primary add-pluss ms-2"><img
                            src="assets/img/icons/plus.svg" alt=""></a>
                        <a href="javascript:;" class="btn btn-primary doctor-refresh ms-2"><img
                            src="assets/img/icons/re-fresh.svg" alt=""></a>
                      </div>
                      <div class="d-flex align-items-center ms-2">
                        <a href="javascript:;" (click)="exportInvoiceList()" class=" me-2"><img
                            src="assets/img/icons/pdf-icon-03.svg" alt="" style="height: 24px;width: 24px;object-fit: contain;vertical-align: middle;"></a>
                        <a href="javascript:;" (click)="exportInvoiceListAsPdf()" class=" me-2"><img
                            src="assets/img/icons/pdf-icon-01.svg" alt="" style="height: 24px;width: 24px;object-fit: contain;vertical-align: middle;"></a>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <div class="col-auto text-end float-end ms-auto download-grp">
                                    <a href="javascript:;" class=" me-2"><img src="assets/img/icons/pdf-icon-01.svg"
                                            alt=""></a>
                                    <a href="javascript:;" class=" me-2"><img src="assets/img/icons/pdf-icon-02.svg"
                                            alt=""></a>
                                    <a href="javascript:;" class=" me-2"><img src="assets/img/icons/pdf-icon-03.svg"
                                            alt=""></a>
                                    <a href="javascript:;"><img src="assets/img/icons/pdf-icon-04.svg" alt=""></a>

                                </div> -->
              </div>
            </div>
            <!-- /Table Header -->
            <!-- /Table Header -->
            <div class="row">
              <!-- Left Column: Filters & Search -->
              <div class="col-md-6">
                <form [formGroup]="searchForm" (submit)="searchInvoices()">

                  <!-- Row for From and To -->
                  <div class="row">
                    <div class="col-md-6 form-group local-forms mb-3">
                      <label for="from">From</label>
                      <input class="form-control datetimepicker" type="text" matInput [matDatepicker]="picker1"
                        formControlName="from">
                      <mat-datepicker #picker1></mat-datepicker>
                      <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                    </div>

                    <div class="col-md-6 form-group local-forms mb-3">
                      <label for="to">To</label>
                      <input class="form-control datetimepicker" type="text" matInput [matDatepicker]="picker2"
                        formControlName="to">
                      <mat-datepicker #picker2></mat-datepicker>
                      <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                    </div>
                  </div>

                  <div class="row">
                    <!-- Payment Status -->
                    <div class="col-md-6">
                      <div class="form-group local-forms mb-3">
                        <label for="paymentStatus">Payment Status</label>
                        <mat-select formControlName="paymentStatus" class="form-control select"
                          placeholder="Select Payment Status">
                          <mat-option *ngFor="let data of selectedList" [value]="data.value">{{data.value}}</mat-option>
                        </mat-select>
                      </div>
                    </div>

                    <!-- Payment Mode -->
                    <div class="col-md-6">
                      <div class="form-group local-forms mb-3">
                        <label for="paymentMode">Payment Mode</label>
                        <mat-select formControlName="paymentMode" (selectionChange)="onPaymentModeChange($event)"
                          class="form-control select" placeholder="Select Payment Mode">
                          <mat-option *ngFor="let data of paymentModeList"
                            [value]="data.value">{{data.value}}</mat-option>
                        </mat-select>
                      </div>
                    </div>
                  </div>


                  <div class="doctor-submit mt-3">
                    <button type="submit" class="btn btn-primary submit-list-form">Search</button>
                  </div>
                </form>
              </div>



              <!-- Right Column: Summary Tiles -->
              <div class="col-md-6">
                <div class="row">
                  <!-- Total Amount Tile -->
                  <div class="col-12 mb-3">
                    <div class="card border-0 shadow-lg">
                      <div class="card-body py-3 px-4">
                        <h5 class="mb-1" style="font-weight: bold;">Total Amount for the Day</h5>
                        <p class="mb-0 fw-bold" style="font-size: 1.1rem bold;">
                          {{ getTotalInvoiceAmount() | currency: 'INR' }}
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <!-- Paid Amount Tile -->
                    <div class="col-md-6 mb-3">
                      <div class="card border-0 shadow-lg "style="background-color: #E0F8F8;">
                        <div class="card-body py-2 px-3">
                          <h6 class="mb-1" style="font-weight: bold;">Total Paid Amount</h6>
                          <p class="mb-0 fw-semibold" style="font-size: 1rem bold;">
                            {{ getTotalPaidAmount() | currency: 'INR' }}
                          </p>
                        </div>
                      </div>
                    </div>

                    <!-- Unpaid Amount Tile -->
                    <div class="col-md-6 mb-3">
                      <div class="card border-0 shadow-lg "style="background-color:#FFD9E6;">
                        <div class="card-body py-2 px-3">
                          <h6 class="mb-1" style="font-weight: bold;">Total Unpaid Amount</h6>
                          <p class="mb-0 fw-semibold" style="font-size: 1rem bold;">
                            {{ getTotalUnpaidAmount() | currency: 'INR' }}
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="table-responsive" id="convertToPdf">
              <table matSort (matSortChange)="sortData($event)"
                class="table border-0 custom-table comman-table datatable mb-0">
                <thead>
                  <tr>
                    <th>#</th>
                    <th mat-sort-header="invoiceNumber">Invoice Number</th>
                    <th mat-sort-header="patient">Patient Name</th>
                    <th mat-sort-header="amount">Amount</th>
                    <th mat-sort-header="totalUnpaidAmount">Unpaid Amount</th>
                    <th mat-sort-header="status">Status</th>
                    <th mat-sort-header="paymentMode">Payment Mode</th>
                    <th mat-sort-header="paymentTime">Payment Date/Time</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of invoices; let i = index">
                    <td>{{ serialNumberArray[i] }}</td>
                    <td><a href="javascript:void(0);"
                        (click)="movetoInvoiceView(data.invoiceId,data.patientId)">INV-{{data.invoiceId}}</a></td>
                    <td> {{data.patientFname}}</td>
                    <td>{{data.amount}}</td>
                    <td>{{data.totalUnpaidAmount}}</td>
                    <td><button
                        [ngClass]="{'status-orange':data.status==='Partially Paid','status-green' : data.status === 'Paid', 'status-pink' : data.status === 'Unpaid'}"
                        class="custom-badge">{{data.status}}</button></td>
                    <td><button
                        [ngClass]="{'status-orange':data.paymentModes===null,'status-green' : data.paymentModes !== null, }"
                        class="custom-badge">{{data.paymentModes ?? 'NA'}}</button></td>
                  <td>
  {{ (data.paymentDetails?.[0]?.paymentDate + 'Z') | date:'dd-MM-yyyy, h:mm a':'Asia/Kolkata' }}
</td>


                    <td class="text-end">
                      <div class="dropdown dropdown-action">
                        <a href="javascript:void(0);" class="action-icon dropdown-toggle" data-bs-toggle="dropdown"
                          aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                        <div class="dropdown-menu dropdown-menu-end">
                          <a class="dropdown-item" href="javascript:void(0);"
                            (click)="moveToEditInvoice(data.invoiceId)"><i class="fa-solid fa-pen-to-square m-r-5"></i>
                            Add items</a>
                          <a *ngIf="loggedIn.userRole == 'admin' " class="dropdown-item" href="javascript:void(0);"
                            (click)="deleteInvoice(data.invoiceId)"><i class="fa fa-trash-alt m-r-5"></i> Delete</a>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="table_footer">
                <div class="col-sm-12 col-md-5">
                  <div class="dataTables_info">
                    Showing {{ serialNumberArray[0] }} to
                    {{ serialNumberArray[serialNumberArray.length - 1] }} of
                    {{ totalData }} entries
                  </div>
                </div>
                <div class="col-sm-12 col-md-7" style="display: flex; justify-content: flex-end; align-items: center;">
                  <!-- Page size dropdown -->
                  <div style="margin-right: 16px; display: flex; align-items: center;">
                    <label for="pageSizeSelect" style="margin-right: 4px; font-weight: 500;">Page size:</label>
                    <select id="pageSizeSelect" class="form-select" style="width: auto; display: inline-block;"
                      [(ngModel)]="pageSize" (change)="PageSize()">
                      <option *ngFor="let size of [10, 25, 50, 100]" [value]="size">{{ size }}</option>
                    </select>
                  </div>
                  <div class="pagination_section">
                    <ul class="pagination">
                      <li class="page-item" [ngClass]="{
                          disabled: currentPage === 1
                        }">
                        <a (click)="getMoreData('previous')" class="page-link" href="javascript:void(0);"
                          tabindex="-1">Previous</a>
                      </li>
                      <ng-container *ngFor="let item of pageNumberArray; let i = index">
                        <li class="page-item" [class.active]="item === currentPage" [ngClass]="
                        (pageNumberArray[currentPage - 2] > item &&
                        item !== 1 &&
                        pageNumberArray.length > 6) ||
                        (pageNumberArray[currentPage] < item &&
                        item !== 1 &&
                        pageNumberArray.length > 6 &&
                        pageNumberArray.length !== item)
                        ? 'hide-page-no'
                        : 'show-page-no'
                        ">
                          <a (click)="moveToPage(item)" class="page-link" href="javascript:void(0);">
                            {{ item }}
                          </a>
                        </li>
                        <li class="page-item" *ngIf="
                      i === 0 &&
                      pageNumberArray.length > 6 &&
                      currentPage > 2
                      " [hidden]="currentPage === 1" (click)="moveToPage(currentPage - 2)"
                          (keyup.enter)="moveToPage(currentPage - 2)" tabindex="0">
                          <a class="page-link" href="javascript:void(0);">
                            ...
                          </a>
                        </li>
                        <li *ngIf="i === pageNumberArray.length - 2 &&
                    pageNumberArray.length > 6
                    " [hidden]="
                    currentPage >=
                    pageNumberArray[pageNumberArray.length - 2] ||
                    totalData <
                    serialNumberArray[serialNumberArray.length - 1]
                    " class="page-item" (click)="moveToPage(currentPage + 2)"
                          (keyup.enter)="moveToPage(currentPage + 2)" tabindex="0">
                          <a class="page-link" href="javascript:void(0);">
                            ...
                          </a>
                        </li>
                      </ng-container>
                      <li class="page-item" [ngClass]="{
                  'disabled': currentPage === pageNumberArray[pageNumberArray.length - 1] || invoices.length === 0
                }">
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>