<div class="page-wrapper">
    <div class="content">

         <!-- Page Header  -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a >Invoice Item </a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Add Invoice Item</li>
                    </ul>
                </div>
            </div>
        </div>
         <!-- /Page Header  -->
        <div class="row">
            <div class="col-sm-12">

                <div class="card">
                    <div class="card-body">
                        <form [formGroup]="invoiceItem" (ngSubmit)="addInvoiceItem(invoiceItem)">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-heading">
                                        <h4>Add Invoice Item</h4>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label for="itemName">Item name <span class="login-danger">*</span></label>
                                        <input class="form-control" formControlName="itemName" type="text" placeholder="">
                                        <div *ngIf="invoiceItem.get('itemName')?.invalid && (invoiceItem.get('itemName')?.dirty || invoiceItem.get('itemName')?.touched)" class="text-danger">
                                            <div *ngIf="invoiceItem.get('itemName')?.errors?.['required']">Item name is required.</div>
                                        </div>
                                    </div>
                                </div>
                        
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label for="description">Description <span class="login-danger">*</span></label>
                                        <input class="form-control" formControlName="description" type="text" placeholder="">
                                        <div *ngIf="invoiceItem.get('description')?.invalid && (invoiceItem.get('description')?.dirty || invoiceItem.get('description')?.touched)" class="text-danger">
                                            <div *ngIf="invoiceItem.get('description')?.errors?.['required']">Description is required.</div>
                                        </div>
                                    </div>
                                </div>
                        
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label for="discount">Discount <span class="login-danger">*</span></label>
                                        <input class="form-control" formControlName="discount" type="number" placeholder="">
                                        <div *ngIf="invoiceItem.get('discount')?.invalid && (invoiceItem.get('discount')?.dirty || invoiceItem.get('discount')?.touched)" class="text-danger">
                                            <div *ngIf="invoiceItem.get('discount')?.errors?.['required']">Discount is required.</div>
                                        </div>
                                    </div>
                                </div>
                        
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label for="fee">Fee <span class="login-danger">*</span></label>
                                        <input class="form-control" formControlName="fee" type="number" placeholder="">
                                        <div *ngIf="invoiceItem.get('fee')?.invalid && (invoiceItem.get('fee')?.dirty || invoiceItem.get('fee')?.touched)" class="text-danger">
                                            <div *ngIf="invoiceItem.get('fee')?.errors?.['required']">Fee is required.</div>
                                        </div>
                                    </div>
                                </div>
                        
                                <div class="col-12">
                                    <div class="doctor-submit text-end">
                                        <button type="submit" class="btn btn-primary submit-form me-2">Submit</button>
                                        <button type="button" class="btn btn-primary cancel-form">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <h1>hello</h1> -->